apns2==0.3.0

asn1crypto==0.22.0

asymmetric-jwt-auth==0.3.1

certbot-django==0.1.0

certifi==2017.4.17

cffi==1.10.0

chardet==3.0.4

cryptography==1.9

Django==1.10.7

django-allauth==0.32.0

django-common-helpers==0.9.1

django-cors-headers==2.1.0

django-crispy-forms==1.6.1

django-debug-toolbar==1.8

django-geojson==2.10.0

django-leaflet==0.22.0

django-markdown-deux==1.0.5

django-push-notifications==1.5.0

django-ratelimit==1.0.1

django-rest-auth==0.9.1

djangorestframework==3.6.3

djangorestframework-gis==0.11.2

enum34==1.1.6

h2==2.6.2

hpack==3.0.0

hyper==0.7.0

hyperframe==3.2.0

idna==2.5

ipaddress==1.0.18

Markdown==2.6.8

markdown2==2.3.4

Minidetector==0.1

oauthlib==2.0.2

olefile==0.44

pbr==3.1.0

Pillow==4.1.1

psycopg2==2.7.1

pycparser==2.17

PyJWT==1.5.0

python-memcached==1.58

python-openid==2.2.5

pytz==2017.2

requests==2.18.1

requests-oauthlib==0.8.0

six==1.10.0

solid-i18n==1.4.1

sqlparse==0.2.3

stevedore==1.23.0

urllib3==1.21.1
