apns2==0.7.2
asymmetric-jwt-auth==0.5.0
certbot-django==0.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.2.1
Django==3.1.7
django-allauth==0.44.0
django-common-helpers==0.9.1
django-cors-headers==3.7.0
django-crispy-forms==1.11.1
django-debug-toolbar==3.2
django-geojson==3.1.0
django-leaflet==0.22.0
django-markdown-deux==1.0.5
django-push-notifications==2.0.0
django-ratelimit==1.0.1
django-rest-auth==0.9.1
django-uuidfield==0.5.0
djangorestframework==3.12.2
djangorestframework-gis==0.16.0
enum34==1.1.10
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.5
ipaddress==1.0.23
Markdown==2.6.2
markdown2==2.3.0
user-agents==2.2.0
django-user-agents==0.4.0
oauthlib==2.0.2
olefile==0.46
Pillow==9.0.0
psycopg2==2.8.6
pycparser==2.20
PyJWT==1.7.1
python-openid==2.2.5
pytz==2020.4
requests==2.18.3
requests-oauthlib==0.8.0
six==1.15.0
solid-i18n==1.4.2
sqlparse==0.2.3
urllib3==1.22
django-reset-migrations===0.4.0
