{% extends 'mapApp/base.html' %}

{% load staticfiles crispy_forms_tags %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2">
      <div class="page-header">
        <h1>Password reset</h1>
        <p><strong>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</strong></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary pull-right" type="submit" name="submit">Reset my password</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
