{% extends 'mapApp/base.html' %}

{% load staticfiles crispy_forms_tags %}

{% block headerCSS %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2">
      <div class="page-header">
        <h1>Register</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="g-recaptcha" data-sitekey="6LcFewcTAAAAAItDl4Fh6ZJGSkR7ELjcoklTaWLF"></div>
        <button class="btn btn-primary pull-right" type="submit" name="login">Register</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
