{% extends 'mapApp/base.html' %}

{% load static crispy_forms_tags i18n socialaccount %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2">
      <div class="page-header">
        <h1>{% trans "Login" %}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary pull-right" type="submit" name="login">{% trans "Login" %}</button>
        <a href="{% provider_login_url 'google' %}" class="btn btn-primary pull-right" href="#" role="button">Login with Google</a>

      </form>
      <p><a href="{% url 'userApp:register' %}">{% trans "Create an account" %}</a></p>
      <p><a href="{% url 'userApp:password_reset' %}">{% trans "I don't know my password" %}</a></p>
    </div>
  </div>

</div>
{% endblock %}
