{% extends 'mapApp/base.html' %}

{% load staticfiles crispy_forms_tags %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2">
      <div class="page-header">
        <h1>Password change</h1>
        <p><strong>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</strong></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary pull-right" type="submit" name="submit">Change my password</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
