{% extends 'mapApp/base.html' %}

{% load staticfiles crispy_forms_tags i18n %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2">
      <div class="page-header">
        {# Translators: This is a page title for the page where you change your password #}
        <h1>{% trans "Password change" %}</h1>
        <p><strong>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</strong></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {# Translators: This is a button to submit the password change form #}
        <button class="btn btn-primary pull-right" type="submit" name="submit">{% trans "Change my password" %}</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
