.vcenter {
  /*border: 1px solid red;*/
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#sponsors img, #supporters img{
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.frame{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

@media (min-width: 992px){
  .col-md-offset-1p5 {
    margin-left: 12.5%;
  }
}
