#barchart text {
	fill: white;
	font: 10px sans-serif;
	text-anchor: start;
}

#barchart .axis text {
	fill: black;
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.x.axis path {
	display: none;
}