@font-face {
font-family: 'Carrois Gothic SC', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	padding-top: 80px;
	max-width: 100%;
	color: #041e2b;
}

.btn-primary {
	background-color: #041e2b;
}
/*Common background colors*/
.collision{
	background: #D73027;
	color: black;
}
.nearmiss{
	background: #F46D43;
	color: black;
}
.hazard{
	background: #FEE090;
	color: black;
}
.theft{
	background: #74ADD1;
	color: black;
}
.newInfrastructure{
	background: #4575B4;
	color: #FEE090;
}

button {
  margin: 0 5px;
}

textarea {
	resize: none; /* removes resize handle from text area inputs */
}

#popUpMessage {
	padding:15px;
  position: fixed;
	top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index:2;
  max-width: 400px;
	text-align:left;
	border-radius: 15px;
	background-color:#18BC9C;
	border-color:#18BC9C;
	color: #fff;

}

#popUpMessage .leaflet-popup-content {
	margin: 18px 10px 10px 10px;
}

#popUpMessage a {
  color: #fff;
  text-decoration: underline;
}

#popUpMessage a:hover {
  color: #2c3e50;
}

#message {
	position: fixed;
	right: 1em;
	bottom: 1em;
	width: auto;
	z-index: 1;
}

.about{
	/*background: #18bc9c;*/
	margin-top: 40px;
}

.nav{
	font-size: 16px;
	font-weight: 800;
}

.nav li{
	margin-left: 0px;
	margin-top: 10px;
}

.navbar-brand {
	margin-top: 10px;
	color: #fff;
	font-weight: 800;
}

.navbar-brand img{
	float: left;
	height: 45px;
	margin-top: -10px;
	margin-right: 10px;
}

.navbar-icon img{
	float: left;
	height: 35px;
	margin-top: -5px;
	margin-right: 0px;
}

.navbar {
	font-family: 'Carrois Gothic SC', 'sans-serif';
	min-height: 80px;
}

.navbar-default {
	background-color: #041e2b;
	border-bottom: 2px solid rgba(0,0,0,0.4);

}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus {
	color: #01adac;
	font-weight: heavier;
	/*-webkit-text-stroke: 1px #2c3e50;*/
}
.navbar-default .navbar-nav>li>a>span {
	/* -webkit-text-stroke: 0px; */
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: #041e2b;
	color: #f18904;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f18904;
	border-bottom: 2px #fff;
}

body h1{
	font-family: 'Carrois Gothic SC', sans-serif;
}

/* Alert bell highlighting*/
.is-highlighted{
	color: #D2850B;
}

#help{
	position: fixed;
	left: 10px;
	bottom: 2.5em;
	z-index: 1;
}

/* FORUM */
.comment a{
	color: #979797;
}

.comment{
	color: #979797;
}

.reply-markdown a{
	color: #979797;
}

.breadcrumb{
	background: none;
}

#cogsDropdown{
	background: none;
}

/* Override spirt user dropdown*/
.dropdown-menu{
	font-family: sans-serif;
}

.dropdown-menu>.divider{
	height: 1px;
	width: 100%;
}

.dropdown-menu>li>a{
	width: 100%;
}
.dropdown-menu>li{
	width: 100%;
}

.metadata small{
	display: block;
	margin-left:5px;
}

.terms-conditions p{
	font-size: 15px;
	/*text-indent:15px;*/
}

.terms-conditions h1{
	font-size: 32px;
}

/* Mobile info popup on mobile phones */
.tip-msg{
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	height: 23px;
}
.modal-dialog{
	z-index: 1100;
}

.apa-list li {
	padding-left: 3em;
  text-indent: -2em;
}

.poly-icon{
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/images/spritesheet.png');
  background-repeat: no-repeat;
  position: relative;
  background-position: -36px -7px;
  display: inline-block;
  width: 16px;
  height: 15px;
}

.marker-icon{
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/images/spritesheet.png');
  background-repeat: no-repeat;
  position: relative;
  background-position: -127px -8px;
  display: inline-block;
  width: 16px;
  height: 15px;
}
