.map-col{
  height: 100%;
  padding: 0 !important;
}

#map {
  height: 100%;
  margin-top: 0px;
}

.item{
    background: #aaa;
    text-align: center;
    padding: 5px;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

#carousel-col{
  height: 48%;
}

#graph-panel{
  height:100%;
  padding: 15px;
}
