@font-face { 
	font-family: timeburner; 
	src: url('../font/timeburner_regular.ttf');
}

html {
	height: 100%;
}
body {
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	padding-top: 60px;
	max-width: 100%;
	/*background: #18bc9c;*/
	/*background: #3b9972;*/
}

button {
  margin: 0 5px;
}

textarea {
	resize: none; /* removes resize handle from text area inputs */
}

#map {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 60px;
	z-index: 0;
}

#thanks {
	position: fixed;
	right: 1em;
	bottom: 1em;
	width: auto;
	z-index: 1;
}

.about {
	/*background: #18bc9c;*/
	margin-top: 40px;
}

.nav{
	font-size: 15px;
}

.nav li{
	margin-left: 0px;
}

.navbar-brand img{
	float: left;
	height: 45px;
	margin-top: -10px;
	margin-right: 5px;
}

.navbar {
	font-family: timeburner;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

body h1{
	font-family: timeburner;
}

.rack-cluster-small {
	background-color: rgba(0, 0, 0, 0.6);
}

.rack-cluster-medium {
	background-color: rgba(64, 64, 64, 0.6);
}

.rack-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}

.marker-cluster-pie g.arc{
	fill-opacity: 0.8;
}

.marker-cluster-pie .center{
	fill-opacity: 0.7;
}

.pieLabel{
	font-family: sans-serif;
}

/* Click and drag point in line-routing */
div.line-mouse-marker {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
}

.dropdown-menu{
	font-family: sans-serif;
}

.is-highlighted{
	color: #D2850B;
}

#help{
	position: fixed;
	left: 10px;
	bottom: 2.5em;
	z-index: 1;
}

#help .btn{
	padding: 0px 8px;
	border-radius: 50%;
	border-width: 1px;
	border-color: #2C3E50;
}

/* FORUM */
.comment a{
	color: #979797;
}

.comment{
	color: #979797;
}

.reply-markdown a{
	color: #979797;
}

.breadcrumb{
	background: none;
}

#cogsDropdown{
	background: none;
}

.topSponsorImg{
	padding-top: 73.5px;
}

.uvicLogo{
	border-right-width:1px;
	border-right-color:black;
	border-right-style:solid;
}

.uvicDept{
	font-size: 1.2em;
	color: black;
}

/* search control */
.leaflet-control-geocoder-icon {
	background-image: url(../images/geocoder_alt.png);
	background-size: 83%;
}

.leaflet-control-geocoder{
	-webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
}

.leaflet-control-geocoder:hover{
	background: #f4f4f4;
}