@font-face { 
	font-family: timeburner; 
	src: url('../font/timeburner_regular.ttf');
}

html {
	height: 100%;
}
body {
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	padding-top: 60px;
	max-width: 100%;
	/*background: #18bc9c;*/
	/*background: #3b9972;*/
}

button {
  margin: 0 5px;
}

textarea {
	resize: none; /* removes resize handle from text area inputs */
}

#map {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 60px;
	z-index: 0;
}

.thanks {
	position: fixed;
	right: 1em;
	bottom: 1em;
	width: auto;
	z-index: 1;
}

.about {
	/*background: #18bc9c;*/
	margin-top: 40px;
}

.nav{
	font-size: 15px;
}

.nav li{
	margin-left: 0px;
}

.navbar-brand img{
	float: left;
	height: 45px;
	margin-top: -10px;
	margin-right: 5px;
}

.navbar {
	font-family: timeburner;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

body h1{
	font-family: timeburner;
}

.rack-cluster-small {
	background-color: rgba(0, 0, 0, 0.6);
}

.rack-cluster-medium {
	background-color: rgba(64, 64, 64, 0.6);
}

.rack-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}

.marker-cluster-pie g.arc{
	fill-opacity: 0.8;
}

.marker-cluster-pie .center{
	fill-opacity: 0.7;
}

.pieLabel{
	font-family: sans-serif;
}

/* Click and drag point in line-routing */
div.line-mouse-marker {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
}

.dropdown-menu{
	font-family: sans-serif;
}

.is-highlighted{
	color: #eeee00;
}

.comment a{
	color: #979797;
}

.comment{
	color: #979797;
}

.reply-markdown a{
	color: #979797;
}

.reply-button{
	-webkit-animation-delay: 0s;
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 0s;
	-webkit-animation-fill-mode: none;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-name: none;
	-webkit-animation-play-state: running;
	-webkit-animation-timing-function: ease;
	-webkit-app-region: no-drag;
	-webkit-appearance: none;
	-webkit-backface-visibility: visible;
	-webkit-background-clip: border-box;
	-webkit-background-composite: source-over;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-border-fit: border;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-image: none;
	-webkit-border-vertical-spacing: 0px;
	-webkit-box-align: stretch;
	-webkit-box-decoration-break: slice;
	-webkit-box-direction: normal;
	-webkit-box-flex: 0;
	-webkit-box-flex-group: 1;
	-webkit-box-lines: single;
	-webkit-box-ordinal-group: 1;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: start;
	-webkit-box-reflect: none;
	-webkit-box-shadow: none;
	-webkit-clip-path: none;
	-webkit-column-break-after: auto;
	-webkit-column-break-before: auto;
	-webkit-column-break-inside: auto;
	-webkit-column-count: auto;
	-webkit-column-gap: normal;
	-webkit-column-rule-color: rgb(68, 68, 68);
	-webkit-column-rule-style: none;
	-webkit-column-rule-width: 0px;
	-webkit-column-span: none;
	-webkit-column-width: auto;
	-webkit-filter: none;
	-webkit-font-smoothing: auto;
	-webkit-highlight: none;
	-webkit-hyphenate-character: auto;
	-webkit-line-box-contain: block inline replaced;
	-webkit-line-break: auto;
	-webkit-line-clamp: none;
	-webkit-locale: en;
	-webkit-margin-after-collapse: collapse;
	-webkit-margin-before-collapse: collapse;
	-webkit-mask-box-image: none;
	-webkit-mask-box-image-outset: 0px;
	-webkit-mask-box-image-repeat: stretch;
	-webkit-mask-box-image-slice: 0 fill;
	-webkit-mask-box-image-source: none;
	-webkit-mask-box-image-width: auto;
	-webkit-mask-clip: border-box;
	-webkit-mask-composite: source-over;
	-webkit-mask-image: none;
	-webkit-mask-origin: border-box;
	-webkit-mask-position: 0% 0%;
	-webkit-mask-repeat: repeat;
	-webkit-mask-size: auto;
	-webkit-perspective: none;
	-webkit-perspective-origin: 53.5px 15px;
	-webkit-print-color-adjust: economy;
	-webkit-rtl-ordering: logical;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-combine: none;
	-webkit-text-decorations-in-effect: none;
	-webkit-text-emphasis-color: rgb(68, 68, 68);
	-webkit-text-emphasis-position: over;
	-webkit-text-emphasis-style: none;
	-webkit-text-fill-color: rgb(68, 68, 68);
	-webkit-text-orientation: vertical-right;
	-webkit-text-security: none;
	-webkit-text-stroke-color: rgb(68, 68, 68);
	-webkit-text-stroke-width: 0px;
	-webkit-transform: none;
	-webkit-transform-origin: 53.5px 15px;
	-webkit-transform-style: flat;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	-webkit-user-drag: auto;
	-webkit-user-modify: read-only;
	-webkit-user-select: none;
	-webkit-writing-mode: horizontal-tb;
	align-content: stretch;
	align-items: flex-start;
	align-self: stretch;
	alignment-baseline: auto;
	background-attachment: scroll;
	background-blend-mode: normal;
	background-clip: border-box;
	background-color: rgb(198, 85, 85);
	background-image: none;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: repeat;
	background-size: auto;
	baseline-shift: baseline;
	border-bottom-color: rgb(68, 68, 68);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-collapse: separate;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(68, 68, 68);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(68, 68, 68);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(68, 68, 68);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: none;
	border-top-width: 0px;
	bottom: auto;
	box-shadow: none;
	box-sizing: border-box;
	buffered-rendering: auto;
	caption-side: top;
	clear: none;
	clip: auto;
	clip-path: none;
	clip-rule: nonzero;
	color: rgb(68, 68, 68);
	color-interpolation: srgb;
	color-interpolation-filters: linearrgb;
	color-rendering: auto;
	cursor: pointer;
	direction: ltr;
	display: inline-block;
	dominant-baseline: auto;
	empty-cells: show;
	fill: rgb(0, 0, 0);
	fill-opacity: 1;
	fill-rule: nonzero;
	filter: none;
	flex-basis: auto;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 1;
	flex-wrap: nowrap;
	float: none;
	flood-color: rgb(0, 0, 0);
	flood-opacity: 1;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-kerning: auto;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: normal;
	glyph-orientation-horizontal: 0deg;
	glyph-orientation-vertical: auto;
	height: 30px;
	image-rendering: auto;
	justify-content: flex-start;
	kerning: 0;
	left: auto;
	letter-spacing: normal;
	lighting-color: rgb(255, 255, 255);
	line-height: 30px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	marker-end: none;
	marker-mid: none;
	marker-start: none;
	mask: none;
	mask-type: luminance;
	max-height: none;
	max-width: none;
	min-height: 0px;
	min-width: 0px;
	object-fit: fill;
	object-position: 50% 50%;
	opacity: 1;
	order: 0;
	orphans: auto;
	outline-color: rgb(68, 68, 68);
	outline-offset: 0px;
	outline-style: none;
	outline-width: 0px;
	overflow-wrap: normal;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	paint-order: fill stroke markers;
	pointer-events: auto;
	position: static;
	resize: none;
	right: auto;
	shape-rendering: auto;
	speak: normal;
	stop-color: rgb(0, 0, 0);
	stop-opacity: 1;
	stroke: none;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-opacity: 1;
	stroke-width: 1;
	tab-size: 8;
	table-layout: auto;
	text-align: center;
	text-anchor: start;
	text-decoration: none solid rgb(68, 68, 68);
	text-indent: 0px;
	text-overflow: clip;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	top: auto;
	transition-delay: 0s;
	transition-duration: 0s;
	transition-property: all;
	transition-timing-function: ease;
	unicode-bidi: normal;
	vector-effect: none;
	vertical-align: baseline;
	visibility: visible;
	white-space: pre;
	widows: auto;
	width: 107px;
	word-break: normal;
	word-spacing: 0px;
	word-wrap: normal;
	writing-mode: lr-tb;
	z-index: auto;
	zoom: 1;
}