@font-face { 
	font-family: faktos; 
	src: url('../font/faktos.regular.ttf');
}

html {
	height: 100%;
}
body {
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	padding-top: 60px;
	max-width: 100%;
	/*background: #18bc9c;*/
	/*background: #3b9972;*/
}

button {
  margin: 0 5px;
}

textarea {
	resize: none; /* removes resize handle from text area inputs */
}

#map {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 60px;
	z-index: 0;
}

#message {
	position: fixed;
	right: 1em;
	bottom: 1em;
	width: auto;
	z-index: 1;
}

.about {
	/*background: #18bc9c;*/
	margin-top: 40px;
}

.nav{
	font-size: 15px;
}

.nav li{
	margin-left: 0px;
}

.navbar-brand img{
	float: left;
	height: 45px;
	margin-top: -10px;
	margin-right: 5px;
}

.navbar {
	font-family: faktos;
}

.navbar-default .navbar-nav>li>a {
	color: #00aeac;
	-webkit-text-stroke: 1px #2c3e50;
}
.navbar-default .navbar-nav>li>a>span {
	-webkit-text-stroke: 0px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
	color: #f18904;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

body h1{
	font-family: faktos;
}

.marker-cluster-pie g.arc{
	fill-opacity: 0.8;
}

.marker-cluster-pie .center{
	fill-opacity: 0.7;
}

.pieLabel{
	font-family: sans-serif;
}

/* Click and drag point in line-routing */
div.line-mouse-marker {
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
}


.is-highlighted{
	color: #D2850B;
}

#help{
	position: fixed;
	left: 10px;
	bottom: 2.5em;
	z-index: 1;
}

/* FORUM */
.comment a{
	color: #979797;
}

.comment{
	color: #979797;
}

.reply-markdown a{
	color: #979797;
}

.breadcrumb{
	background: none;
}

#cogsDropdown{
	background: none;
}

/* search control */
.leaflet-control-geocoder-icon {
	background-image: url(../images/geocoder_alt.png);
	background-size: 83%;
}

.leaflet-control-geocoder{
	-webkit-box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
}

.leaflet-control-geocoder:hover{
	background: #f4f4f4;
}

/* Override spirt user dropdown*/
.dropdown-menu{
	font-family: sans-serif;
}

.dropdown-menu>.divider{
	height: 1px;
	width: 100%;
}

.dropdown-menu>li>a{	
	width: 100%;
}
.dropdown-menu>li{	
	width: 100%;
}

/* Leaflet legend on map */
.legend-subtext {
	margin-left: 18px;
}
.marker-group {
	line-height: 30px;
}
.marker-group img{
	width: 20px;
    height: 50px;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
    background-size: 20px;
    margin-bottom: -20px;
}

/* Stops bouncing of elements when collapsing out legend */
#location-legend{
	max-height: 30px;
}
#incident-legend{
	max-height: 150px;
}

/* Legend gradients*/
.strava-gradient{
	background: rgba(255,102,17,0);
	background: -moz-linear-gradient(left, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,102,17,0)), color-stop(100%, rgba(255,102,17,1)));
	background: -webkit-linear-gradient(left, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
	background: -o-linear-gradient(left, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
	background: linear-gradient(to right, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6611', endColorstr='#ff6611', GradientType=1 );
}

.rainbow-gradient{
    background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( left ,
        blue 0%,
        cyan 25%,
        lime 50%,
        yellow 55%,
        red 100%);
    background: -webkit-gradient(linear,  left bottom,  right bottom, 
        color-stop(0%, blue), 
        color-stop(25%, cyan),
        color-stop(50%, lime),
        color-stop(55%, yellow),
        color-stop(100%, red));
}

.gradient-bar {
	height: 5px;
	width: 150px;
    margin-top: 5px;
    display: inline-block;
}

.alert-area-box{
	background: rgba(59, 153, 114, 0.1);
	border: 2px solid rgba(59, 153, 114, 0.6);
	height: 20px;
	width: 32.36px; /*THE GOLDEN RATIO*/
    margin-top: 5px;
    display: inline-block;
}

.bikerack{
    display:inline-block;
    background: #666666;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0.5;
    /*margin-top: -15px;*/
    margin-left: 10px;
    margin-right: 20px;
}

.bikelane{
	display:inline-block;
    background: #666666;
    width: 30px;
    height: 3px;
    margin-right: 5px;
}
.solidlane{
	background: #ff0080;
}
.dotlane{
 	border: 1px solid #ff0080;
    background: #ff0080; /* not working, let's see some red */
    background: repeating-linear-gradient(
      to right,
      #ff0080,
      #ff0080 3px,
      #ffffff 3px,
      #ffffff 6px
	);
}

/* General text alteration from bootstrap defaults*/
li a {
	color: #2c3e50;
}

#polygon-sprite{
	width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../../leaflet/plugins/leaflet.draw/dist/images/spritesheet.png) -32px 3px;
    margin-top: -9px;	
}

.metadata small{
	display: block;
	margin-left:5px;
}

.terms-conditions p{
	font-size: 15px;
	/*text-indent:15px;*/
}

.terms-conditions h1{
	font-size: 32px;
}

/* Mobile info popup on mobile phones */
.mobile-tip{
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	height: 23px;
}
.mobile-tip .close{
	margin-top: -3px;
	margin-right: 2px;
}