#map{
  height: 100%;
}

/* https://medium.com/ge-design/iot-cool-gray-is-a-great-background-color-for-data-visualization-ebf18c318418 */
body {
  background: #EBEFF2;
  padding-bottom: 200px;
}

.vis-title{
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: 700;
	color: #2c3e50;
}

.row{
  margin: 15px;
}

.chart-title {
  padding: 12px;
  text-align: left;
  margin-bottom: 12px;
  border-bottom: 2px solid #EBEFF2;
}
.center-chart{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  background: #fff;
  border: 1px solid #c5d1d8;
  border-radius: 5px;
}

#barTypes .x.axis path {
  display: none;
}

#barTypes .x.axis text:lang(de) {
  font-size: 8.5px;
}
