{% load i18n %}

    <div class="row">
		<div class="categories js-tabs-container">

            <div class="dropdown">
              <button class="button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                {% if category %}
    			    {{ category.title }}
    			{% else %}
                    {% trans "All Categories" %} 
                {% endif %}
                <i class="fa fa-chevron-down"></i></a>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {% for c in categories %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ c.get_absolute_url }}">{{ c.title }}</a></li>
                {% endfor %}
                {% if category.parent %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ category.parent.get_absolute_url }}">{% trans "All Subcategories" %}</a></li>
                {% else %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "spirit:topic-active" %}">{% trans "All Categories" %}</a></li>
                {% endif %}
              </ul>
            </div>


		</div>
		
		{# Remove Create Topic button from forums #}
		{% comment %}
		<div class="new-topic">
            {% if category %}
                <a class="button" href="{% url "spirit:topic-publish" category.pk %}">{% trans "Create Topic" %}</a>
            {% else %}
                <a class="button" href="{% url "spirit:topic-publish" %}">{% trans "Create Topic" %}</a>
            {% endif %}
		</div>
		{% endcomment %}
	</div>