<!-- Javascript saved as html to allow for use of Django template tags within the code -->
<script>
$(document).ready(function(){
  {% if not request.mobile %}
      desktopDrawing();
  {% else %}
      mobileDrawing();
  {% endif %}
});

function desktopDrawing(){
    /* DRAWING CONTROL TOOLTIPS */
    L.drawLocal.draw.toolbar.buttons.marker = 'Add a new marker.';
    L.drawLocal.draw.handlers.marker.tooltip.start = 'Place me where the incident, hazard, or theft occurred.';

    L.drawLocal.draw.toolbar.buttons.polygon = 'Trace an area to receive incident alerts.';
    L.drawLocal.draw.handlers.polygon.tooltip.start = 'Trace the area you would like to receive alerts for.';
    // L.drawLocal.draw.handlers.polygon.tooltip.cont = 'Click to continue drawing shape.';
    // L.drawLocal.draw.handlers.polygon.tooltip.end = 'Click the first point to close this shape.';

    L.drawLocal.edit.toolbar.buttons.edit = 'Edit alert area.';
    L.drawLocal.edit.handlers.edit.tooltip.text = 'Drag handles to edit alert areas. Be sure to save your changes.';
    L.drawLocal.edit.handlers.edit.tooltip.subtext = 'Click cancel to undo changes.';

    L.drawLocal.edit.toolbar.buttons.remove = 'Delete alert areas.';
    L.drawLocal.edit.handlers.remove.tooltip.text = 'Click the alert areas to remove';

    L.drawLocal.edit.toolbar.buttons.editDisabled = 'No alert areas to edit.';
    L.drawLocal.edit.toolbar.buttons.removeDisabled = 'No alert areas to delete.';

    /* ADD THE CONTROL TO LEAFLET MAP */
    {% if not request.mobile %}
    map.addControl(new L.Control.Draw({
        draw: {
            polyline: false,
            rectangle: false,
            circle: false,
            marker: {
                icon:icons["bikeGreyIcon"]
            },
            polygon:
                {% if request.user.is_authenticated %}
                { allowIntersection: false }
                {% else %}
                false
                {% endif %}
        },
        edit:
            {% if request.user.is_authenticated %}
            { featureGroup: alertAreas }
            {% else %}
            false
            {% endif %}
    }));
    {% endif %}

    // Add a point editing control for admins
    {% if request.user.is_administrator %}
    L.drawLocal.edit.handlers.remove.tooltip.text = 'Click the object to remove';
    L.drawLocal.edit.toolbar.buttons.removeDisabled = 'No objects to delete.';

    map.addControl(new L.Control.Draw({
        position: 'bottomright',
        draw: false,
        edit: {
            edit: false,
            featureGroup: incidentData
        }
    }));

    {% endif %}

    $(document).ready(function(){
        /* DEFINE ACTIONS TRIGGERED BY NEW DRAWINGS */
        map.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;

            if (type === 'marker') {
                // Set form geometry field to click location
                $('#incidentForm').modal('show');
                var geom = JSON.stringify(layer.toGeoJSON().geometry);

                document.getElementById("point").value = geom;
                document.getElementById("hazPoint").value = geom;
                document.getElementById("theftPoint").value = geom;
            }
            if (type === 'polygon') {
                // Set form geometry field to click location
                document.getElementById("geofence").value = JSON.stringify(layer.toGeoJSON().geometry);
                document.getElementById("userEmail").value = "{{ request.user.email }}";
                $('#geofenceForm').modal('show');
            }
        });

        /* DEFINE ACTIONS TRIGGERED BY EDITING A POLYGON */
        map.on('draw:edited', function(e) {
            addEditsToForm(e);
            document.getElementById("editType").value = 'edit';
            $( "#editForm" ).submit();
        });

        /* DEFINE ACTIONS TRIGGERED BY DELETING A POLYGON */
        map.on('draw:deleted', function(e) {
            addEditsToForm(e);
            document.getElementById("editType").value = 'delete';
            $( "#editForm" ).submit();
        });

        function addEditsToForm(e){
            var layers = e.layers;
            // Fill out form
            layers.eachLayer(function (layer) {
                if(layer.options.pk){
                    document.getElementById("editPk").value += (layer.options.pk + ';');
                    document.getElementById("editGeom").value += (JSON.stringify(layer.toGeoJSON().geometry) + ";");
                    document.getElementById("objType").value += (layer.options.objType+ ';');
                }
            });
        }
    });
};

function mobileDrawing(){
    $(document).ready(function(){
        $('#map').animate({marginTop: "+=23"});
        $('.tip-msg').hide().animate({height:'show'});

        $('.tip-msg .close').click(function(){
            $('#map').animate({marginTop: "-=23"});
            $('.tip-msg').animate({height:'hide'});
        });
    });

    // Allow double click point adding for mobile users
    map.on('dblclick', function (e){
        console.log("DOUBLE CLICK");
        var geom = '{"type":"Point","coordinates":['+e.latlng.lng+','+e.latlng.lat+']}';
        $('#incidentForm').modal('show');
        document.getElementById("point").value = geom;
        document.getElementById("hazPoint").value = geom;
        document.getElementById("theftPoint").value = geom;
    });
}
</script>



<!-- Form for passing data to view to edit polygon data -->
<form id="editForm" action="{% url 'mapApp:editShape' %}" method="post">
    {% csrf_token %}
    {{ editForm.as_p}}
</form>

<!-- Mobile tooltip to explain the double tapping -->
{% if request.mobile %}
<div class="tip-msg alert-info alert-dismissable">
    <div class="close">&times;</div>
    <center>Double tap a location to submit a report</center>
</div>
{% endif %}
