<script>
	/* DRAWING CONTROL TOOLTIPS */
    L.drawLocal.edit.toolbar.buttons.edit = 'Edit points.';
    L.drawLocal.edit.handlers.edit.tooltip.text = 'Drag a point to edit location. Be sure to save changes.';
    L.drawLocal.edit.handlers.edit.tooltip.subtext = 'Click cancel to undo changes.';
        
    L.drawLocal.edit.toolbar.buttons.remove = 'Delete points.';
    L.drawLocal.edit.handlers.remove.tooltip.text = 'Click the points to remove';
    
    L.drawLocal.edit.toolbar.buttons.editDisabled = 'No points to edit.';
    L.drawLocal.edit.toolbar.buttons.removeDisabled = 'No points to delete.';
    

    /* ADD THE CONTROL TO LEAFLET MAP */
    map.addControl(new L.Control.Draw({
        draw: false,        
        edit: 
            {featureGroup: accidentPoints}
    }));
</script>