{% load staticfiles i18n %}

<!-- Modal popup that explains the alert areas (triggered from map legend) -->
<div class="modal fade" id="about-alert-areas">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" context "close window button" %}</span></button>
        <h4 class="modal-title text-center">{% trans "Receive monthly alerts for your riding area" %}</h4>
      </div>
      <div class="modal-body">
        {% trans "To setup monitoring areas:" %}
            <ol>
                <li>{% trans "Login to your account" %}
                <li>{% trans "Trace areas on the map you would like to track using the <span class='poly-icon'></span> button." %}
                    <br><small><em>{% trans "note: tracing is currently not supported on mobile devices." %}</em></small>
            </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" context "close window button" %}</button>
        <div class="btn-group">
            <a href="{% url 'userApp:register' %}" type="button" class="btn btn-primary">{% trans "Register" %}</a>
            <a href="{% url 'userApp:login' %}" type="button" class="btn btn-primary">{% trans "Login" %}</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal popup that explains strava (triggered from map legend) -->
<div class="modal fade" id="about-strava">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" context "close window button" %}</span></button>
        <h4 class="modal-title text-center">{% trans "Rider density" %}</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <p style="text-indent: 2em">
                  {% blocktrans %}Our rider density data comes directly from the Strava cycling and running mobile tracker application. Using Strava, you can track your cycling commutes and recreational rides using your Android or iPhone. <br><br> Street-level Heatmap data are available to registered users at the <a href="https://www.strava.com/heatmap">Strava Global Heatmap</a>. See the <a href="https://blog.strava.com/en/press/heatmap-updates/">Strava Blog</a> for more information.{% endblocktrans %}
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="text-center col-xs-12 col-sm-3 col-sm-offset-3">
              <a href="https://play.google.com/store/apps/details?id=com.strava" target="_blank">
                <img alt="Get it on Google Play" src="{% static 'mapApp/images/googleButton.png' %}"/>
              </a>
            </div>
            <div class="text-center col-xs-12 col-sm-3">
              <a href="https://itunes.apple.com/us/app/strava-running-cycling-gps/id426826309?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
            </div>
          </div>

      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal popup that explains strava (triggered from map legend) -->
<div class="modal fade" id="wpg-raffle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" context "close window button" %}</span></button>
                <h4 class="modal-title text-center">Bikemaps Winnipeg Raffle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            Hi, we noticed you are in Winnipeg. Would you like to participate in the Bikemaps Winnipeg Raffle ?<br />If so, please visit our raffle using the link below (Opens in a new window).
                        </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="text-center col-xs-12 col-sm-3 col-sm-offset-3">
                        <a class="btn btn-primary btn-wpgRaffle" href="https://bikemaps.org/static/wpgraffle" target="_blank">
                            Go to the Winnipeg Raffle
                        </a>
                    </div>
                </div>
            </div>
            <!--       <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div> -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
