<!DOCTYPE html>
<html>
<head>
  {% load static bikemaps_tags cache %}
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="Map your cycling incidents, hazard, and theft locations so they can be analyzed to identify hot spots of cycling safety, risk, and crime."/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- Browser icon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'mapApp/images/BikeMapsORG_Logo.ico' %}" />

  <!-- Allow fullscreen webapps on iOS and Chrome Mobile -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Google verification -->
  <meta name="google-site-verification" content="sHpQWUFpj7aSwFlam5B_xWmrBr_nEa49gu7IrFYe8aE" />

  <!-- EXTERNAL CSS -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <!-- Leaflet plugins -->
  <link rel="stylesheet" href="{% static 'leaflet/plugins/extra-markers/css/leaflet.extra-markers.min.css' %}">
  <link href="{% static 'mapApp/css/common.css' %}" rel="stylesheet">
  {% block headerCSS %}{% endblock %}

  <!-- Google analytics tracker -->
  <script async>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53442345-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</head>

<body>
  {% include 'mapApp/navbar.html' %}

  <!-- container for alert popups -->
  <div id="message">
    {% if messages %}
        {% for message in messages %}
          {% if message.tags == "error" %}
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|safe }}
          </div>
          {% elif message.tags %}
          <div class="alert alert-{{ message.tags }} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|safe }}
          </div>
          {% else %}
          <div class="alert alert-default alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|safe }}
          </div>
          {% endif %}
        {% endfor %}
    {% endif %}
  </div>

<!-- container for message after report submitted popUp-->
  <div id="followUpMsgPopUp">
    {% if messages %}
    {% endif %}
  </div>


  {% block body %}{% endblock %}

  <!-- EXTERNAL JS -->
  <!-- JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- Leaflet -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <!-- Leaflet plugins -->
  <script src="{% static 'leaflet/plugins/extra-markers/js/leaflet.extra-markers.min.js' %}"></script>
  <!-- Moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
  {% block footerJS %}{% endblock %}
</body>

</html>
