<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles spirit_tags bikemaps_tags%}
  <meta name="Description" content="Cyclist safety maps from your cycling experience" >
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'mapApp/images/BikeMapsORG_Logo.ico' %}" />

  <!-- LOAD CSS -->
  {% block headerCSS %} {% endblock %}
  <!-- Load CSS -->
  <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'mapApp/css/style.css' %}" rel="stylesheet">
  
  <!-- Load tipsy tooltips -->
  <link rel="stylesheet" href="{% static 'tipsy/stylesheets/tipsy.css' %}">

  <!-- Load icons -->
  <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet">

  <!-- Bootstrap datetime picker -->
  <link href="{% static 'datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen"/>

  <!-- lOAD JS -->
  <!-- Load JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  {% block headerJS %} {% endblock %}

  <!-- Load JS -->
  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  <!-- Load tipsy tooltips -->
  <script src="{% static 'tipsy/javascripts/jquery.tipsy.js' %}"></script>

  <!-- Bootstrap datetime picker -->
  <script type="text/javascript" src="{% static 'datetimepicker/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
</head>


<body>
  {% include 'mapApp/navbar.html' %}

  <!-- message -->
  <div id="message">
      {% if messages %}
          {% for message in messages %}
          <div id="data-post-alert" class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <center>{{ message | safe }}</center>
          </div>
          {% endfor %}
      {% endif %}
  </div>

  {% block body %}{% endblock %}
  
  <!-- Fade out message -->
  <script>
    $(window).load(function(){
      setTimeout(function(){ $('#data-post-alert').fadeOut() }, 7000);
    });
    // Prevent multiple submits of forms by disabling the button on single click
    $(document).ready(function() {
      $('input[type=submit]').click(function(){
        $(this).prop("disabled", true);
        $(this).closest("form").trigger('submit');
      });  
    });
  </script>

  
  <!-- Google analytics tracker -->
  {% include 'mapApp/util/google-analytics.html' %}
</body>

</html>
