<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles spirit_tags bikemaps_tags%}
  <meta name="Description" content="Track Bike Accidents in Victoria" >
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  <title>BikeMaps.org {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'mapApp/images/bikemaps_web_icon.ico' %}" />

  <!-- Load JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  
  {% block header %} {% endblock %}

  <!-- Load CSS -->
  <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'mapApp/css/style.css' %}" rel="stylesheet">

  <!-- Load JS -->
  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  <!-- Load tipsy tooltips -->
  <script src="{% static 'tipsy/javascripts/jquery.tipsy.js' %}"></script>
  <link rel="stylesheet" href="{% static 'tipsy/stylesheets/tipsy.css' %}">

  <!-- Load icons -->
  <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet">
</head>


<body>
  {% include 'mapApp/navbar.html' %}

  <!-- message -->
  <div id="message">
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <center>{{ message | safe }}</center>
          </div>
          {% endfor %}
      {% endif %}
  </div>

  {% block body %}{% endblock %}
  
  <!-- Fade out message -->
  <script>
    $(window).load(function(){
      setTimeout(function(){ $('.alert').fadeOut() }, 7000);
    });
  </script>

  {% include 'mapApp/util/google-analytics.html' %}
</body>
</html>
