{% extends "mapApp/base.html" %}
{% load staticfiles %}
{% load geojson_tags %}


{% block title %}
  BikeMaps CFAX
{% endblock %}


{% block headerCSS %}
  <!-- Load leaflet -->
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>
{% endblock %}

{% block headerJS %}
  <!-- moment.js date library -->
  <script src="{% static 'moment/moment.min.js' %}"></script>
  <!-- Load leaflet -->
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <!-- Load marker clustering -->
  <script src="{% static 'leaflet/plugins/leaflet.markercluster/leaflet.markercluster-src.js' %}"></script>
  <!-- Load Maki Markers Icons -->
  <script src="{% static 'leaflet/plugins/maki-markers/Leaflet.MakiMarkers.js' %}"></script>
  <!-- Load heatmap -->
  <script src="{% static 'leaflet/plugins/leaflet-heat/leaflet-heat.js' %}"></script>
  <!-- map generating code -->
  <script src="{% static 'mapApp/js/map.js' %}" charset="utf-8"></script>
  <!-- d3 barchart -->
  <script src="{% static 'mapApp/js/stats.js' %}" charset="utf-8"></script>
{% endblock %}


{% block body %}
  <style type="text/css">
    #map {
      height: 100%;
      margin-top: 0px;
    }
    #data li{
      padding-top: 5px;
    }
    .highlight{
      background: #0ff;
    }
  </style>


  <div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-xs-8" style="height: 100%;">
        <!-- Map of one month of reports -->
        <div id="map"></div>
      </div>
      <div class="col-xs-4" style="height: 100%; overflow: scroll;">
        <!-- Map of one month of reports -->
        <div id="data"></div>
      </div>
    </div>
  </div>


  <script>
    // Map init and default layers
    map = L.map('map', {
        layers: [L.tileLayer('https://tiles1-b586b1453a9d82677351c34485e59108.skobblermaps.com/TileService/tiles/2.0/011011321101/10/{z}/{x}/{y}.png@2x', {
          minZoom: 2,
          attribution: '© Tiles: <a href="http://maps.skobbler.com/">skobbler</a>, Map data: <a href=http://openstreetmap.org>OpenStreetMap</a> contributors, CC-BY-SA'})
        ],
        worldCopyJump: true,
    }).fitBounds([
      [48.40185599006367, -123.34625244140624], //Top
      [48.69821216562637, -123.44650268554688], //Bottom
      [48.45653041501911, -123.26660156249999], //Right
      [48.47565256743914, -123.4588623046875] //Left
    ]);

    // Add data (calls to map.js)
    var collisionsLayer = geojsonCircleMarker( {{ collisions|geojsonfeature|safe }} , "collision").addTo(map),
        nearmissesLayer = geojsonCircleMarker( {{ nearmisses|geojsonfeature|safe }} , "nearmiss").addTo(map),
        hazardsLayer = geojsonCircleMarker( {{ hazards|geojsonfeature|safe }} , "hazard").addTo(map),
        theftsLayer = geojsonCircleMarker( {{ thefts|geojsonfeature|safe }} , "theft").addTo(map);

    $('#data').append('<h2>Collisions</h2>');
    pprint("collision", {{ collisions|geojsonfeature:"incident,incident_with,incident_date,incident_detail,pk"|safe }});

    $('#data').append('<h2>Nearmisses</h2>');
    pprint("nearmiss", {{ nearmisses|geojsonfeature:"incident,incident_with,incident_date,incident_detail,pk"|safe }});

    $('#data').append('<h2>Hazards</h2>');
    pprint("hazard", {{ hazards|geojsonfeature:"hazard,hazard_date,hazard_detail,pk"|safe }});

    $('#data').append('<h2>Thefts</h2>');
    pprint("theft", {{ thefts|geojsonfeature:"theft,theft_date,theft_detail,pk"|safe }});


    // Highlight list item and TODO highlight corresponding pnt on map
    $('#data li').hover(function(){
      // Highlight list item
      $(this).toggleClass('highlight');
      var layer = $(this).attr('layer'),
          pk = $(this).attr('pk');

      // Highlight and zoom to corresponding point
      if(layer === "collision"){
        zoomToPoint(collisionsLayer);
      }else if(layer === "nearmiss"){
        zoomToPoint(nearmissesLayer);
      }else if(layer === "hazard"){
        zoomToPoint(hazardsLayer);
      }else if(layer === "theft"){
        zoomToPoint(theftsLayer);
      }

      // function to handle highlighting and zooming to specified point in layer
      function zoomToPoint(pointLayer){
        pointLayer.eachLayer(function(layer){
          if(layer.feature.id == pk){
            map.fitBounds(layer.getBounds());
            layer.bringToFront();
            layer.setStyle({
                fillColor: '#0ff',
                fillOpacity: 1
            });
          }
        });
      }
    });

    $('#data li').mouseleave(function(){
      resetLayerStyle(collisionsLayer, "collision");
      resetLayerStyle(nearmissesLayer, "nearmiss");
      resetLayerStyle(hazardsLayer, "hazard");
      resetLayerStyle(theftsLayer, "theft");


      function resetLayerStyle(pointsLayer, type){
        pointsLayer.eachLayer(function(layer){
          layer.setStyle({
            fillColor: getColor(type),
            fillOpacity: 0.8
          });
        });
      }
    });



    // Print different point types in a nice formatted list TODO move to new js file
    function pprint(type, jsonData){
      var str = "<ol>";
      jsonData.features.forEach(function(obj) {
        if(type === "collision"){
          str += "<li layer='collision' pk=" + obj.properties.pk + ">"
            + "<strong>Date: </strong>" + moment(obj.properties.incident_date).calendar() + "<br>"
            + "<strong>Type: </strong>" + obj.properties.incident + " (" + obj.properties.incident_with + ")<br>";
            if(obj.properties.incident_detail != ''){
              str+= "<strong>Description: </strong>" + obj.properties.incident_detail + "</li>";
            }
        }
        else if(type === "nearmiss") {
          str += "<li layer='nearmiss' pk=" + obj.properties.pk + ">"
            + "<strong>Date: </strong>" + moment(obj.properties.incident_date).calendar() + "<br>"
            + "<strong>Type: </strong>" + obj.properties.incident + " (" + obj.properties.incident_with + ")<br>";
            if(obj.properties.incident_detail != ''){
              str+= "<strong>Description: </strong>" + obj.properties.incident_detail + "</li>";
            }
        }
        else if(type === "hazard"){
          str += "<li layer='hazard' pk=" + obj.properties.pk + ">"
            + "<strong>Date: </strong>" + moment(obj.properties.hazard_date).calendar() + "<br>"
            + "<strong>Type: </strong>" + obj.properties.hazard + "<br>";
            if(obj.properties.hazard_detail != ''){
              str += "<strong>Description: </strong>" + obj.properties.hazard_detail + "</li>";
            };
        }
        else if(type === "theft"){
          str += "<li layer='theft' pk=" + obj.properties.pk + ">"
            + "<strong>Date: </strong>" + moment(obj.properties.theft_date).calendar() + "<br>"
            + "<strong>Type: </strong>" + obj.properties.theft + "<br>";
          if(obj.properties.theft_detail != ''){
            str += "<strong>Description: </strong>" + obj.properties.theft_detail + "</li>";
          };
        }
        else{
          console.log("Unknown type error in pprint");
        }
      });

      $('#data').append(str + "</ol>");
    };


  </script>


{% endblock %}
