{% extends "mapApp/base.html" %}
{% load staticfiles %}
{% load geojson_tags %}

{% block title %}
  BikeMaps CFAX
{% endblock %}

{% block headerCSS %}
  <!-- Load page styles -->
  <link rel="stylesheet" href="{% static 'mapApp/css/cfax.css' %}"/>
  <!-- Load leaflet -->
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>
{% endblock %}

{% block headerJS %}
  <!-- moment.js date library -->
  <script src="{% static 'moment/moment.min.js' %}"></script>
  <!-- Load leaflet -->
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <!-- icon color definitions and geojson point function -->
  <script src="{% static 'mapApp/js/icons.js' %}" charset="utf-8"></script>
  <!-- cfax initialization and control logic -->
  <script src="{% static 'mapApp/js/cfax.js' %}" charset="utf-8"></script>
{% endblock %}


{% block body %}
  <div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-xs-8 map-col">
        <!-- Map of one month of reports -->
        <div id="map"></div>
      </div>
      <div class="col-xs-4" style="height: 100%; overflow: scroll;">
        <!-- Map of one month of reports -->
        <div id="data"></div>
      </div>
    </div>
  </div>

  <script>
    // Create geojson datasets from django context to pass to cfax.js more easily
    var data = {
      "collisions": {{ collisions|geojsonfeature:"incident,incident_with,incident_date,incident_detail,pk"|safe }},
      "nearmisses": {{ nearmisses|geojsonfeature:"incident,incident_with,incident_date,incident_detail,pk"|safe }},
      "hazards": {{ hazards|geojsonfeature:"hazard,hazard_date,hazard_detail,pk"|safe }},
      "thefts": {{ thefts|geojsonfeature:"theft,theft_date,theft_detail,pk"|safe }}
    }

    // Create the map object (call to cfax.js)
    initializeCfaxMap();

    $(document).ready(function(){
      // Add data (calls to cfax.js)
      addData(data);

      // listen for data hover to highlight points and data (call to cfax.js)
      listenForHover();
    });
  </script>
{% endblock %}
