{% extends "mapApp/base.html" %}

{% block title %}Terms and Conditions{% endblock %}
{% block body %}
<div class="container">
	<div class="jumbotron terms-conditions" style="margin-top: 40px;">
		<h1>Terms and Conditions</h1>
		<br>
		<p><strong>Letter of information for implied consent:</strong></p>

		<!-- <h4 class="text-center"><strong>Citizen Based Web-Mapping of Bike Accidents and Near Misses (BikeMaps)</strong></h4> -->

		<p>You are invited to participate in a study entitled <strong>Citizen Based Web-Mapping of Bike Accidents and Near Misses (BikeMaps).</strong></p>

		<p>As part of a UVic research project, we are interested in obtaining information regarding your cycling experiences in the Capital Regional District (CRD). In particular we would like to know about any incidents that you have had. The data collected is completely anonymous and answers are multiple choice containing no identifiable information. The survey should take approximately 5 minutes.</p>

		<p>By adding a geographic marker onto BikeMaps.org and answering questions, you are consenting to participate in a study conducted by researchers from the Spatial Pattern Analysis and Research (SPAR) Lab in the Department of Geography at the University of Victoria. All information gathered will be completely anonymous. Volunteers must be 13 years of age or older to participate. Parents or guardians may log the details for participants under the age of 13. Please be advised that once a volunteer participant has submitted their survey, it is impossible to withdraw this data at a later date given that it is fully anonymous. To report more than one incident, a volunteer participant would need to complete the entire process again as all incidents are anonymous and considered separate events. The fully anonymous data will be stored securely at the University of Victoria and will be kept indefinitely for possible use in future studies.</p>

		<p>The data collected from this research will enable SPAR Lab researchers and graduate students to study the patterns of bike accidents and near misses in the Capital Regional District. Understanding the geographical patterns to risk for cyclists will enable better decisions to be made regarding future transportation plans for the region. Results of this study will be shared through student research theses, peer-reviewed scientific articles, and on the BikeMaps.org website.</p>

		<p>Funding for this research project has been provided by an NSERC Engage grant to Dr. Trisalyn Nelson. Other project partners providing in kind support include: the CRD, Pedalheads, KidicalMassyyj; the Canadian Automobile Association; Strava.com. If you have any questions regarding this research, please contact Dr. Trisalyn Nelson, <a href="mailto:trisalyn@uvic.ca">trisalyn@uvic.ca</a> or <a href="mailto:info@bikemaps.org">info@bikemaps.org</a>. Please ensure your questions are answered prior to adding any data to the website.</p>

		<p>In addition, you may verify the ethical approval of this study, or raise any concerns you might have, by contacting the Human Research Ethics Office at the University of Victoria (<a href="tel:+12504724545">250-472-4545</a> or <a href="mailto:ethics@uvic.ca">ethics@uvic.ca</a>).</p>

		<p>By adding a marker to BikeMaps.org, YOUR FREE AND INFORMED CONSENT IS IMPLIED and indicates that you understand the above conditions of participation in this study.</p>

<!-- 
			<address><strong>Dr. Trisalyn Nelson</strong><br>
				<abbr title="Email">E:</abbr> <a href="mailto:trisalyn@uvic.ca">trisalyn@uvic.ca</a>
			</address>

			<address><strong>Human Research Ethics Office</strong><br> 
				University of Victoria<br>
				<abbr title="Phone">P:</abbr> <a href="tel:250-472-4545">250-472-4545</a><br>
				<abbr title="Email">E:</abbr> <a href="mailto:ethics@uvic.ca">ethics@uvic.ca</a>
			</address>
 -->

		<div class="text-right"><a class="btn btn-primary" onclick=window.close()>Close</a></div>


	</div>
</div>
{% endblock %}