{% extends "mapApp/base.html" %}
{% load i18n cache %}

{% get_current_language as LANGUAGE_CODE %}
{% cache 3600 terms_and_conditions LANGUAGE_CODE %}

{% block title %}{% trans "Terms and Conditions" %}{% endblock %}
{% block body %}
<div class="container">
	<div class="jumbotron terms-conditions" style="margin-top: 40px;">
		<h1 class="text-center">{% trans "Letter of Informed Consent" %}</h1>
		<p class="text-center"><strong>{% trans "Citizen Based Web-Mapping of Bike Collisions and Near Misses (BikeMaps.org)" %}</strong></p>

		{% blocktrans %}<p>As part of a UVic research project, we are interested in obtaining information regarding your cycling experiences. In particular we would like to know about any incidents that you have had. The data collected is completely anonymous. The survey should take approximately 5 minutes.</p>

		<p>By adding a geographic marker onto this website and answering questions, you are consenting to participate in a study conducted by researchers from the Spatial Pattern Analysis and Research (SPAR) Lab in the Department of Geography at the University of Victoria. All information gathered will be completely anonymous. Volunteers must be 13 years of age or older to participate. Parents or guardians may log the details for participants under the age of 13. Please be advised that once a volunteer participant has submitted their survey, it is impossible to withdraw this data at a later date given that it is fully anonymous. Also, the data may be used in additional future studies. Please be aware that data provided in this study could be linked to data collected in other studies (for e.g., hospital ER intake surveys).</p>

		<p>The data collected from this research will enable SPAR Lab researchers and graduate students to study the patterns of bike collisions and near misses in various municipalities including the Capital Regional District and Vancouver (BC, Canada). Understanding the geographical patterns to risk for cyclists will enable better decisions to be made regarding future transportation plans for each region.</p>

		<p>Funding for this research project has been provided by NSERC Engage and Mitacs grants to Dr. Trisalyn Nelson. Other project partners providing in kind support include: the Captial Regional District (CRD); Pedalheads; KidicalMassyyj; the Canadian Automobile Association; Bunt and Associates; Strava.com; and the Traffic Injury Research Foundation (TIRF). If you have any questions regarding this research, please contact Dr. Trisalyn Nelson, <a href="mailto:trisalyn@uvic.ca">trisalyn@uvic.ca</a>.</p>

		<p>In addition, you may verify the ethical approval of this study, or raise any concerns you might have, by contacting the Human Research Ethics Office at the University of Victoria (<a href="tel:+12504724545">250-472-4545</a> or <a href="mailto:ethics@uvic.ca">ethics@uvic.ca</a>).</p>{% endblocktrans %}
		<div class="text-right"><a class="btn btn-primary" onclick=window.close()>{% trans "Close" context "close window button"%}</a></div>

	</div>
</div>
{% endblock %}

{% endcache %}
