{% extends "mapApp/base.html" %}
{% load staticfiles %}
{% load geojson_tags %}

{% block title %}
Experimental charting
{% endblock %}


{% block headerCSS %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
  <link rel="stylesheet" href="{% static 'leaflet/plugins/awesome-markers/dist/leaflet.awesome-markers.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.3/dc.css">

  <!-- Local styles -->
  <style media="screen">
  svg {
    width: 100%;
    height: 100%;
  }
  path.slice{
    stroke-width:2px;
  }
  polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
  }
  </style>
{% endblock %}


{% block headerJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.3/dc.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script type="text/javascript" src="{% static 'leaflet/plugins/awesome-markers/dist/leaflet.awesome-markers.min.js' %}" charset="UTF-8"></script>
<script src="{% static 'mapApp/js/icons.js' %}" charset="utf-8"></script>

<!-- Viz functions -->
<!-- Doughnut chart -->
<script src="{% static 'mapApp/js/viz/doughnut.js' %}" charset="utf-8"></script>
{% endblock %}


{% block body %}
  <div id="pieTypes"></div>

  <script charset="utf-8">
    data = {{ points|geojsonfeature:"report_date,date,p_type"|safe}}['features'];

    // map p_types of points to nice label
    var labels = {
      "collision": "Collisions",
      "nearmiss": "Nearmisses",
      "hazard": "Hazards",
      "theft": "Thefts",
      "fall": "Falls",
    }
    var colorScale = d3.scale.ordinal()
      .domain(["collision", "nearmiss", "hazard", "theft", "fall"])
      .range([iconColors.collision, iconColors.nearmiss, iconColors.hazard, iconColors.theft, "#eeeeee"]);

    // Define charts
    var pieTypes = dc.pieChart('#pieTypes');

    // Pie chart for number of each type of report
    var ndx           = crossfilter(data),
        runDimension  = ndx.dimension(function(d) {return d['properties']['p_type'];}),
        sumGroup = runDimension.group().reduceCount();

    pieTypes
      .width(300)
      .height(300)
      // .innerRadius(50)
      .dimension(runDimension)
      .group(sumGroup)
      .ordering(function(d){ return -d.value })
      .label(function(d){return labels[d.data.key];})
      .colors(colorScale.range())
      .colorAccessor(function(d){return colorScale.domain().indexOf(d.data.key);});

    pieTypes.render();

    // TODO
    // Add reset buttons
    // Add filtering functionality
    // More charts..

  </script>
{% endblock %}
