{% load staticfiles %}

<meta name="Description" content="Track Bike Accidents in Victoria" >
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<title>bikemaps.org</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'mapApp/images/bikemaps_web_icon.ico' %}" />


<!-- Load CSS -->
<link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'mapApp/css/style.css' %}" rel="stylesheet">

<!-- Load JQuery -->
<script src="{% static 'jquery-1.11.1.min.js' %}" ></script>

<!-- Load JS -->
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
