	<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" > -->
	<meta name="Description" content="Track Bike Accidents in Victoria" >
	<!-- Allows mobile pinching and zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	

	<title>Bike Accidents in Victoria</title>


	
	{% load staticfiles %}
	<!-- Load JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

	<!-- Load JS -->
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	
	<!-- Load CSS -->
	<link href="{% static 'mapApp/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen"/>


	
