{% load staticfiles %}

<!-- Load leaflet -->
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>
<script src="{% static 'leaflet/leaflet.js' %}"></script>

<!-- Load the custom icon library -->
<script src="{% static 'leaflet/plugins/maki-markers/Leaflet.MakiMarkers.js' %}"></script>

<!-- Load marker clustering -->
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.markercluster/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.markercluster/MarkerCluster.Default.css' %}">
<script src="{% static 'leaflet/plugins/leaflet.markercluster/leaflet.markercluster-src.js' %}"></script>

<!-- Load heatmap -->
<script src="{% static 'leaflet/plugins/leaflet-heat/leaflet-heat.js' %}"></script>

<!-- Load draw pluging -->
<link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.draw/dist/leaflet.draw.css' %}">
<script src="{% static 'leaflet/plugins/leaflet.draw/src/Leaflet.draw.js' %}"></script>
<!--
<script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
-->
<script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>

<script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>

<script src="{% static 'leaflet/plugins/leaflet.draw/src/Control.Draw.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/Tooltip.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/Toolbar.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
<!-- 
<script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/EditToolbar.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script> 
-->

<!-- Used for pie chart creation -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<!-- Leaflet.routing plugin -->
<script src="{% static 'leaflet/plugins/leaflet-routing/src/utils/LineUtil.Snapping.js"></script>
<script src="{% static 'leaflet/plugins/leaflet-routing/src/utils/Marker.Snapping.js"></script>
<script src="{% static 'leaflet/plugins/leaflet-routing/src/L.Routing.js"></script>
<script src="{% static 'leaflet/plugins/leaflet-routing/src/L.Routing.Storage.js"></script>
<script src="{% static 'leaflet/plugins/leaflet-routing/src/L.Routing.Draw.js"></script>
<script src="{% static 'leaflet/plugins/leaflet-routing/src/L.Routing.Edit.js"></script>
<script src="http://tyrasd.github.io/osmtogeojson/osmtogeojson.js"></script>

<!-- GeoJSON sources -->
<script type="text/javascript" src="{% static 'mapApp/data/policeData.js' %}"></script> 
<script type="text/javascript" src="{% static 'mapApp/data/bikeRoutes.js' %}"></script>
<script type="text/javascript" src="{% static 'mapApp/data/icbcData.js' %}"></script>
<script type="text/javascript" src="{% static 'mapApp/data/bikeRacks.js' %}"></script>


<!-- Load app js -->
<script src="{% static 'mapApp/js/map.js' %}"></script>