<!-- Load Crispy-froms form template renderer -->
{% load crispy_forms_tags i18n %}

<!-- Modal form -->
<div class="modal fade" id="incidentForm" tabindex="-1" role="dialog" aria-labelledby="incidentForm" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="incidentForm">{% trans "Submit a new report" %}</h4>
            </div>

            <div class="modal-body">
                <label class="control-label">{% trans "What kind of report is this?" %}</label>
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#incidentReport" role="tab" data-toggle="tab">{% trans "Collision" %}</a></li>
                  <li role="presentation"><a href="#nearmissReport" role="tab" data-toggle="tab">{% trans "Near miss" %}</a></li>
                  <li role="presentation"><a href="#hazardReport" role="tab" data-toggle="tab">{% trans "Hazard" %}</a></li>
                  <li role="presentation"><a href="#theftReport" role="tab" data-toggle="tab">{% trans "Theft" %}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="incidentReport">
                    <form action="{% url 'mapApp:postIncident' %}" method="POST" role="form" enctype="multipart/form-data">
                      {% crispy incidentForm %}
                    </form>
                  </div>
                    <div role="tabpanel" class="tab-pane" id="nearmissReport">
                        <form action="{% url 'mapApp:postIncident' %}" method="POST" role="form" enctype="multipart/form-data">
                            {% crispy nearmissForm %}
                        </form>
                    </div>
                  <div role="tabpanel" class="tab-pane" id="hazardReport">
                    <form action="{% url 'mapApp:postHazard' %}" method="POST" role="form" enctype="multipart/form-data">
                      {% crispy hazardForm %}
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="theftReport">
                    <form action="{% url 'mapApp:postTheft' %}" method="POST" role="form" enctype="multipart/form-data">
                      {% crispy theftForm %}
                    </form>
                  </div>
                </div>
            </div>

            <div class="modal-footer">
              <div class="col-xs-6">
                <div class="text-left" style="text-indent: -16px; padding-left: 15px;">
                  {% url "mapApp:termsAndConditions" as terms_url %}
                  <input type='checkbox' id='terms_checkbox'><strong> {% blocktrans %}I have read and understand the <a href='{{ terms_url }}' target=_blank> terms and conditions{% endblocktrans %}</a></strong>
                </div>
              </div>
              <div class="col-xs-6">
                <button type="button" name="Cancel" class="btn btn-default cancel-btn" onclick="javascript:close_modal()">{% trans "Cancel" %}</button>
                <button type="button" name="Submit" class="btn btn-primary submit-btn disabled" onclick="javascript:submit_form()">{% trans "Submit" %}</button>
              </div>
            </div>
        </div>
    </div>
</div>

<script>
  $("#terms_checkbox").change(function() {
    if(this.checked) $(".submit-btn").removeClass("disabled");
    else $(".submit-btn").addClass("disabled");
  });

  function close_modal(){
    $('#incidentForm').modal('hide');
    $('.modal-backdrop').hide();
  }
  function submit_form(){
    $(".submit-btn").addClass("disabled");
    $(".cancel-btn").addClass("disabled");
    $('.tab-pane.active form').submit();
  }

  function showMessage(message){
    $('#message').append('<div class="alert alert-success" role="alert">' +
      '<button type="button" class="close" data-dismiss="alert">&times;</button>' + message +
      '</div>'
    );
	setTimeout(function(){
      $('#message .alert').alert('close');
    }, 7000);
  };
  
  function showHazardMessage(message){
    $('#311popUp').append('<div id="popUpMessage">' +
      '<button id="311button" type="button" style="color:white" class="close" onclick=$(this).closest("div").remove();>&times</button>' + message.fontcolor("white") +
      '</div>'
    )};
 
  $(function(){
    // Define ajax submit function
    $('.tab-pane form').submit(function (event){
      $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: new FormData($('.tab-pane.active form').get(0)),
        dataType: "json",
        processData: false,
        contentType: false,
        success: function(data) {
          // Re-enable submit button
          $(".submit-btn").removeClass("disabled");
          $(".cancel-btn").removeClass("disabled");

          // Show errors or clean and reset form
          $('.tab-pane.active form div:first').replaceWith(data['form_html']);
          updateIncidentForm();

          if (data['success']) {
            // Close modal
            $('#incidentForm').modal('hide');

            // Add point to map
            var point = geojsonMarker(JSON.parse(data['point']), data['point_type'])
            point.bindPopup(getPopup(point.getLayers()[0]));
            incidentData.addLayer(point);

            // Pan to point
            map.setView(point.getBounds().getCenter(), 18, {'animate': true});
            setTimeout(function(){
              point.openPopup();
            }, 300);

            // Print success or failure message
            var message = "<strong>" + '{% trans "Thank you!" %}' + "</strong><br>" + '{% trans "Your incident marker was successfully added." %}';
            showMessage(message);
          
			//Print Hazard Popup
			if (data['hazard']){
				var hazardPopup = data['hazardMessage'];
				showHazardMessage(hazardPopup);
			}			
		  }
        }
      });
      event.preventDefault();
    });

    // Dynamically change lock to "NA" if bike not locked
    $("#div_id_lock select option[value='NA']").hide();
    $(document).on("change", "#div_id_how_locked select", function(){
        if($(this).val() == 'Not locked'){
            $("#div_id_lock select option").hide();
            $("#div_id_lock select option[value='NA']").show();
            $("#div_id_lock select").val('NA');
        }
        else{
            if($("#div_id_lock select").val() == 'NA'){
                $("#div_id_lock select").val('');
            }
            $("#div_id_lock select option").show();
            $("#div_id_lock select option[value='NA']").hide();
        }
    });

    // Change hazard options dynamically
    // Hacky bug fix for translated site - Previously the hazard-category was assigned based directly on the label of the optgroup.
    // This doesn't work when a translation is in use because the label is translated and we end up with invalid hazard categories.
    // Doing hardcoded comparison for now.
    $(document).on("change", "#hazardReport #div_id_i_type select", function(){
        var optgroup = $(":selected", this).parent();
        var optgroup_label = optgroup.attr("label");

        if(optgroup_label === "Infrastructure" || optgroup_label === "Infrastruktur") {
            $("#hazard-category").val("infrastructure");
        }
        else if(optgroup_label === "Environmental" || optgroup_label === "Umwelt") {
            $("#hazard-category").val("environmental");
        }
        else {
            $("#hazard-category").val("human behaviour");
        }
    })

    // Only show collision options on Collision form and near miss options on Near Miss form
    // $('select optgroup[label="Near miss"]').hide();
    // $('select optgroup[label^="Beinahzusammensto"]').hide();

      // When the incident form is displayed, update the fields we want displayed
      $('#incidentForm').on('shown.bs.modal', function(e) {
          updateIncidentForm();
      });

      function updateIncidentForm() {
          var tabPane = $('.tab-pane.active');
          var tabId = tabPane[0].id;
          if(tabId === 'hazardReport') {
              updateHazardChoices();
          }
          else if(tabId === 'incidentReport') {
              updateIncidentChoices();
          }
          else if(tabId === 'nearmissReport') {
              updateNearmissChoices();
          }
          else{
              updateIncidentChoices();
          }
      }

      // Hide/show appropriate options when selecting a report type
      $('a[href="#incidentReport"]').click( function() {
          updateIncidentChoices();
      });

      $('a[href="#nearmissReport"]').click( function() {
          updateNearmissChoices();
      });

      $('a[href="#hazardReport"]').click( function() {
          updateHazardChoices();
      });

      // Hide hazards we don't want to display on the form
      function updateHazardChoices() {
          $('select optgroup[label="Human Behaviour"]').remove();
          $('select optgroup[label="Comportement humain "]').remove();
          $('select optgroup[label="Menschliches Verhalten"]').remove();
          $('select option[value="Island"]').remove();
          $('select option[value="Insel"]').remove();
      }

      // Only display collision options on Collision form
      function updateIncidentChoices() {
          // toggle visibility for English labels
          $('select optgroup[label="Collision"]').show();
          $('select optgroup[label="Fall"]').show();
          $('select optgroup[label="Near miss"]').hide();

          //toggle visibility for German labels
          $('select optgroup[label="Kollision"]').show();
          $('select optgroup[label="Sturz"]').show();
          $('select optgroup[label^="Beinahzusammensto"]').hide();
      }

      // Only display near miss options on near miss form
      function updateNearmissChoices() {
          // toggle visibility of English labels
          $('select optgroup[label="Near miss"]').show();
          $('select optgroup[label="Collision"]').hide();
          $('select optgroup[label="Fall"]').hide();

          // toggle visibility of German labels
          $('select optgroup[label^="Beinahzusammensto"]').show();
          $('select optgroup[label="Kollision"]').hide();
          $('select optgroup[label="Sturz"]').hide();
      }

  })
</script>