<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Modal form popups -->
    {% include 'mapApp/util/incident_form.html' %}
    {% include 'mapApp/util/route_form.html' %}

    {% include 'mapApp/header.html' %}
    {% include 'mapApp/header_map.html' %}
</head>

<body>
    <!-- Tag to include nav_bar.html code with index template -->
    {% include 'mapApp/nav_bar.html' %}

    <div class='container'>
        <div class="row text-center">
            <div id="thanks">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <center>{{ message | safe }}</center>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
            
        <!-- Leaflet map --> 
        <div id="map"></div>
    
    </div>

    <!-- Load user points from the database -->
    {% for incident in incidents %}
        <script> getPoint( {{ incident.latlngList }}, "{{ incident.incident_date }}", "{{incident.incident_type}}" ); </script>
    {% endfor %}

    <!-- Load user routes from the database -->
    {% for route in routes %}
        <script> getPolyline( {{ route.latlngList }} ); </script>
    {% endfor %}


    <script>
        $(window).load(function(){
          setTimeout(function(){ $('.alert').fadeOut() }, 7000);
        });

        // Create the map
        initialize();

        map.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;
            
            if (type === 'marker') {
                document.getElementById("point").value = (JSON.stringify(layer.toGeoJSON().geometry));               
                $('#incidentForm').modal('show');
            }
            if (type === 'polyline') {
                document.getElementById("line").value = (JSON.stringify(layer.toGeoJSON().geometry));               
                $('#routeForm').modal('show');
            }

        });
        
        // Show the modal if there are errors in a form submit
        {% if incidentFormErrors %}
        $(window).load(function(){
            $('#incidentForm').modal('show');
        });
        {% endif %}

        {% if routeFormErrors %}
        $(window).load(function(){
            $('#routeForm').modal('show');
        });
        {% endif %}

    </script>

</body>
</html>