{% extends "mapApp/base.html" %}

<!-- HEAD STUFF -->
{% block header %}
    {% load staticfiles %}

    <!-- Load leaflet -->
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>
    <script src="{% static 'leaflet/leaflet.js' %}"></script>

    <!-- Load the custom icon library -->
    <script src="{% static 'leaflet/plugins/maki-markers/Leaflet.MakiMarkers.js' %}"></script>

    <!-- Load marker clustering -->
    <link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.markercluster/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.markercluster/MarkerCluster.Default.css' %}">
    <script src="{% static 'leaflet/plugins/leaflet.markercluster/leaflet.markercluster-src.js' %}"></script>

    <!-- Load heatmap -->
    <script src="{% static 'leaflet/plugins/leaflet-heat/leaflet-heat.js' %}"></script>

    <!-- Load draw pluging -->
    <link rel="stylesheet" href="{% static 'leaflet/plugins/leaflet.draw/dist/leaflet.draw.css' %}">
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/Leaflet.draw.js' %}"></script>
    <!--
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
    -->
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>

    <script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>

    <script src="{% static 'leaflet/plugins/leaflet.draw/src/Control.Draw.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/Tooltip.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/Toolbar.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
    <!-- 
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/EditToolbar.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script> 
    -->

    <!-- Used for pie chart creation -->
    <!-- d3 v3.4.8 -->
    <script src="{% static 'd3/d3.min.js' %}" charset="utf-8"></script> 

    <!-- Leaflet.routing plugin -->
    <script src="{% static 'leaflet/plugins/leaflet-routing/src/utils/LineUtil.Snapping.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet-routing/src/utils/Marker.Snapping.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet-routing/src/L.Routing.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet-routing/src/L.Routing.Storage.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet-routing/src/L.Routing.Draw.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet-routing/src/L.Routing.Edit.js' %}"></script>
    <script src="{% static 'leaflet/plugins/leaflet-routing/osmtogeojson.js' %}"></script>

    <!-- GeoJSON sources -->
    <script type="text/javascript" src="{% static 'mapApp/data/policeData.js' %}"></script> 
    <script type="text/javascript" src="{% static 'mapApp/data/bikeRoutes.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapApp/data/icbcData.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapApp/data/bikeRacks.js' %}"></script>

    <!-- Load app js -->
    <script src="{% static 'mapApp/js/map.js' %}"></script>

    <!-- Modal form popups -->
    {% include 'mapApp/util/incident_form.html' %}
    {% include 'mapApp/util/route_form.html' %}


{% endblock %}


<!-- BODY STUFF -->
{% block body %}

    <!-- Thanks you message upon succesful form submition -->
    <div class='container'>
        <div class="row text-center">
            <div id="thanks">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <center>{{ message | safe }}</center>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        
        <!-- Help button -->
        <div class="row text-center">
            <div id="help">
                <button id="helpBtn" type="button" class="btn btn-warning" title='Get Help'>?</button>
            </div>
        </div>
    </div>

    <!-- Leaflet map --> 
    <div id="map"></div>

    <!-- Load user points from the database -->
    {% for incident in incidents %}
        <script> getPoint( {{ incident.latlngList }}, "{{ incident.incident_date }}", "{{incident.incident_type}}" ); </script>
    {% endfor %}

    <!-- Load user routes from the database -->
    {% for route in routes %}
        <script> getPolyline( {{ route.latlngList }} ); </script>
    {% endfor %}

    <!-- JS to control message display and feature creation -->
    <script>
        // Fade out the thank-you message after 7 seconds
        $(window).load(function(){
          setTimeout(function(){ $('.alert').fadeOut() }, 7000);
        });

        // Create the map (call to map.js)
        initialize();

        // Controls for feature creation (leaflet-draw)
        map.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;
            
            if (type === 'marker') {
                // Set form geometry field to click location
                document.getElementById("point").value = (JSON.stringify(layer.toGeoJSON().geometry));               
                // Show the form for point creation
                $('#incidentForm').modal('show');
            }
            if (type === 'polyline') {
                // Set form geometry field to click location
                document.getElementById("line").value = (JSON.stringify(layer.toGeoJSON().geometry));               
                // Show the form for line creation
                $('#routeForm').modal('show');
            }

        });

        // Show the modal if there are errors in a form submit
        {% if incidentFormErrors %}
        $(window).load(function(){
            $('#incidentForm').modal('show');
        });
        {% endif %}

        {% if routeFormErrors %}
        $(window).load(function(){
            $('#routeForm').modal('show');
        });
        {% endif %}


        // Tool tip controls
        $('#helpBtn').tipsy({gravity: 'w', delayIn: 200, fade: true});
        $('.leaflet-control-zoom-in').tipsy({gravity:'w', delayIn: 1000, fade: true});
        $('.leaflet-control-zoom-out').tipsy({gravity:'w', delayIn: 1000, fade: true});
        $('.leaflet-draw-draw-marker').tipsy({gravity:'w', delayIn: 1000, fade: true});
        $('.leaflet-draw-draw-polyline').tipsy({gravity:'w', delayIn: 1000, fade: true});
        $('.leaflet-control-layers-toggle').tipsy({gravity:'e', trigger: 'manual', title: function(){ return "Layer control"}, fade: true});

        $('#helpBtn').click(function(){toggleTooltips("show")});
        $('#map').click(function(){toggleTooltips("hide")});
        
        function toggleTooltips(t){
            console.log(t);
            $('.leaflet-control-zoom-in').tipsy(t);
            $('.leaflet-control-zoom-out').tipsy(t);
            $('.leaflet-draw-draw-marker').tipsy(t);
            $('.leaflet-draw-draw-polyline').tipsy(t);
            $('.leaflet-control-layers-toggle').tipsy(t);            
        };
        
    </script>

{% endblock %}