{% load i18n %}

<div id="legend" class="leaflet-container leaflet-control-container">
  <div class="leaflet-top leaflet-right">
    <div class="leaflet-control-layers leaflet-control" aria-haspopup="true">
      <a class="leaflet-control-layers-toggle" href="#" title="Layers"></a>
      <form class="leaflet-control-layers-list">
        <div class="leaflet-control-layers-overlays">

          <div id="legend-about" class="hidden-xs hidden-sm">
            <strong>{% trans "About" %}</strong><br>
            {# Translators: This string contains a marker icon and a link to the about page from the text "more info". Please preserve these #}
            {% url 'mapApp:about' as about-link %}
            {% blocktrans %}
            BikeMaps.org is a crowdsource tool for global mapping of cycling safety. Using the <span class="marker-icon"></span> button, add your own data on cycling crashes, near-misses, hazards, and thefts. <a href="{{ about-link }}">More info</a>
            {% endblocktrans %}
          </div>

          <div class="legend-group">
            <input class="layer-toggle" type="checkbox" value="incidentData" checked>
            {% trans "Incidents" %}
            <div class="marker-group legend-subtext collapse in">
              <input type="checkbox" id="collisionCheckbox" checked> <i class="collision fa fa-bicycle icon-black"></i><small> {% trans "Citizen collision report" %}</small><br>
              <input type="checkbox" id="nearmissCheckbox" checked> <i class="nearmiss fa fa-bicycle icon-black"></i><small> {% trans "Citizen near miss report" %}</small><br>
              <input type="checkbox"id="hazardCheckbox"checked> <i class="hazard fa fa-warning icon-black"></i><small> {% trans "Cyclist hazard" %}</small><br>
              <input type="checkbox"id="theftCheckbox"checked> <i class="theft fa fa-bicycle icon-black"></i><small> {% trans "Bike Theft" %}</small><br>
              <!-- <input type="checkbox" id="officialCheckbox" checked> <i class="official fa fa-certificate"></i><small> {% trans "Official collision report" %}</small><br> -->

              <input id="filterCheckbox" type="checkbox">
                <span class="fa-stack">
                  <i class="fa fa-filter fa-stack-1x"></i>
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                </span></i><small> {% trans "Filter" %}</small>
              <div class="filter">
                <div class="date-container">
                  <small><span class="start-date"></span></small>
                  <small><span class="end-date pull-right"></span></small>
                </div>

                <input class="slider"></input>
              </div>
            </div>
          </div>

          <div class="legend-group">
            <input class="layer-toggle" type="checkbox" value="stravaHM" checked>
            {% trans "Strava ridership data" %}
            <a data-target="#about-strava" data-toggle="modal" href="#"><i class="fa fa-question-circle fa-1x"></i></a><br>
            <div class="legend-subtext collapse in">
              <small class="strava-gradient gradient-bar">{% trans "less" %} <div class="pull-right">{% trans "more" %}</div></small>
            </div>
          </div>

          <div class="legend-group">
            <input class="layer-toggle" type="checkbox" value="alertAreas" checked>
            {% trans "Alert Areas" %}
            <a data-target="#about-alert-areas" data-toggle="modal" href="#"><i class="fa fa-question-circle fa-1x"></i></a><br>
            <div class="legend-subtext collapse in">
              <small class="alert-area-box"></small>
            </div>
          </div>

          <div class="legend-group">
            <input class="layer-toggle" type="checkbox" value="infrastructure">
            {% trans "Infrastructure" %}
            <div class="legend-subtext collapse">
              <div class="bikerack"></div><small> {% trans "Bike rack" %}</small><br>
              <div class="bikelane solidlane thicklane"></div><small> {% trans "Protected Bike Lane" %}</small><br>
              <div class="bikelane solidlane"></div><small> {% trans "Bike Lane" %}</small><br>
              <div class="bikelane dotlane"></div><small> {% trans "Other Cycling Route" %}</small>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
