{% load staticfiles %}

{% url 'mapApp:index' as index %}
{% url 'mapApp:about' as about %}
{% url 'mapApp:sponsors' as sponsors %}
{% url 'mapApp:contact' as contact %}
{% url 'admin:index' as admin %}


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">BikeMaps.org</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" role="navigation">

        <li {% ifequal request.path index %} class="active" {% endifequal %}><a href="{{ index }}">Home</a></li>
        <li {% ifequal request.path about %} class="active" {% endifequal %}><a href="{{ about }}">About</a></li>
        <li><a>Forum</a></li>
      </ul>
      

      <ul class="nav navbar-nav navbar-right">
        <li><a>Register</a></li>
        <li><a>Login</a></li>
        <li {% ifequal request.path admin %} class="active" {% endifequal %}><a href="{{ admin }}"><small><span class="glyphicon glyphicon-eye-open"></span></small></a></li>
      </ul>
    

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>