{% load static bikemaps_tags i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% url 'mapApp:index' as index %}
{% url 'mapApp:vis' as vis %}
{% url 'mapApp:about' as about %}
{% url 'mapApp:alerts' as alerts %}
{% url 'blogApp:index' as blog %}

{% url 'admin:index' as admin %}
{% url 'mapApp:collision-list' as collisionList %}
{% url 'mapApp:incident-list' as incidentWeatherList %}
{% url 'mapApp:nearmiss-list' as nearmissList %}
{% url 'mapApp:hazard-list' as hazardList %}
{% url 'mapApp:theft-list' as theftList %}

{% url 'userApp:logout' as logout %}
{% url 'userApp:login' as login %}
{% url 'userApp:register' as register %}
{% url 'userApp:profile' as profile %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if LANGUAGE_CODE != 'fr' %}
        <a href="{{ index }}" class="navbar-brand"><img src="{% static 'mapApp/images/BikeMapsORG_Logo_notxt_sm.png' %}"> BikeMaps.org</a>
      {% else %}
        <a href="{{ index }}" class="navbar-brand"><img src="{% static 'mapApp/images/BikeMaps_French_crop_sm.png' %}"></a>
      {% endif %}
    </div>

    <!-- {% endifequal % -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" role="navigation">
        <li {% ifequal request.path index %} class="active" {% endifequal %}><a href="{{ index }}">{% trans "Home" %} <span class="fa fa-map-marker"></span></a></li>
        <li {% ifequal request.path vis %} class="active" {% endifequal %}><a href="{{ vis }}">{% trans "Visualization" %} <span class="fa fa-bar-chart"></span></a></li>
        <li {% ifequal request.path blog %} class="active" {% endifequal %}><a href="{{ blog }}">{% trans "Blog" %} <span class="fa fa-newspaper-o"></span></a></li>
        <li {% ifequal request.path about %} class="active" {% endifequal %}><a href="{{ about }}">{% trans "About" %} <span class="fa fa-leaf"></span></a></li>
        <!--<li style="display:none; color:#f18904;"  class="active wpgRaffleNav"><a href="https://bikemaps.org/static/wpgraffle" target="_blank">Winnipeg Raffle <span class="fa fa-gift"></span></a></li>-->

      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if LANGUAGE_CODE == 'es' %}
          <li>{% blocktrans %}<a href="https://bikemaps.org">English</a>{% endblocktrans %}</li>
       {% else %}
          <li>{% blocktrans %}<a href="https://bikemaps.org/es">Español</a>{% endblocktrans %}</li>
       {% endif %}
        <li>{% blocktrans %}<a href="https://bikemaps.org/fr">Français</a>{% endblocktrans %}</li>
        <li>{% blocktrans %}<a href="https://bikemaps.org/is">Íslenska</a>{% endblocktrans %}</li>

        {% if LANGUAGE_CODE == 'fr' %}
          <li><a href="https://onmarcheonroule.org/" class="navbar-icon" style="height:35px; margin-right:0px"><img src="{% static 'mapApp/images/WalkRollMapLogo.png' %}"></a></li>
        {% else %}
          <li><a href="https://walkrollmap.org/" class="navbar-icon" style="height:35px; margin-right:0px"><img src="{% static 'mapApp/images/WalkRollMapLogo.png' %}"></a></li>

        {% endif %}

        <li><a href="https://www.facebook.com/BikeMaps.org" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/BikeMapsTeam" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a></li>

        {% if request.user.is_authenticated %}
          <!-- Caching this lookup causes weird behaviour. Set cache to 0 to prevent caching -->
          {% cache 0 user_alerts_count %}
            {% reports_this_week request.user as has_notifications %}
          {% endcache %}
          <li><a href="{{ alerts }}"><span class="fa fa-bell {% if has_notifications %} is-highlighted{% endif %}"></span></a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> {{ request.user }}<span class="caret"></span></a>

              <ul class="user-menu dropdown-menu" role="menu">
                <li><a href="{{ profile }}">{% trans "Profile" %}</a></li>
                <li><a href="{{ logout }}?next={{ request.path }}">{% trans "Log out" %}</a></li>

                {% if request.user.is_staff %}
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" class="dropdown-header">{% trans "Admin options" %}</li>
                  <li><a href="{{ admin }}"><small><span class="fa fa-wrench"></span> {% trans "Admin" %}</small></a></li>
                  <li><a href="{{ incidentWeatherList }}.json"><small><span class="fa fa-download"></span> {% trans "Export Incidents + Weather" %}</small></a></li>
                  <li><a href="{{ collisionList }}.json"><small><span class="fa fa-download"></span> {% trans "Export Collisions" %}</small></a></li>
                  <li><a href="{{ nearmissList }}.json"><small><span class="fa fa-download"></span> {% trans "Export Nearmisses" %}</small></a></li>
                  <li><a href="{{ hazardList }}.json"><small><span class="fa fa-download"></span> {% trans "Export Hazards" %}</small></a></li>
                  <li><a href="{{ theftList }}.json"><small><span class="fa fa-download"></span> {% trans "Export Thefts" %}</small></a></li>
                {% endif %}
              </ul>
          </li>
        {% else %}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> {% trans "Guest" %}<span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ login }}?next={{ request.path }}">{% trans "Log in" %}</a></li>
                <li><a href="{{ register }}">{% trans "Register" %}</a></li>
              </ul>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
