{% load i18n cache %}
{% load user_agents %}
{% get_current_language as LANGUAGE_CODE %}
{% cache 500 new_report LANGUAGE_CODE %}

<!-- Use 'start report' button on web app, double tap action on mobile -->
{% if not request.user_agent.is_mobile %}
<div id="actionContainer">
  <button type="button" id="startReportButton" class="btn btn-default btn-md">
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    {% trans "Start a report" %}
  </button>
  <button type="button" id="cancelDrawButton" class="btn btn-default btn-md">
    {% trans "Cancel" %}
  </button>
</div>
{% endif %}

{% endcache %}
