{% extends "mapApp/base.html" %}
{% load staticfiles %}
{% load geojson_tags %}

{% block title %}
  BikeMaps Recent Reports
{% endblock %}

{% block headerCSS %}
  <link rel="stylesheet" href="{% static 'leaflet/plugins/awesome-markers/dist/leaflet.awesome-markers.css' %}">
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>
  <link rel="stylesheet" href="{% static 'mapApp/css/recentReports.css' %}"/>
{% endblock %}

{% block body %}
  <div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-xs-8 map-col">
        <!-- Map of one month of reports -->
        <div id="map"></div>
      </div>
      <div class="col-xs-4" style="height: 100%; overflow: scroll;">
        <!-- Map of one month of reports -->
        <div id="data"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footerJS %}
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <script src="{% static 'moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'leaflet/plugins/awesome-markers/dist/leaflet.awesome-markers.min.js' %}" charset="UTF-8"></script>
  <script src="{% static 'mapApp/js/icons.js' %}" charset="utf-8"></script>
  <script>
    // Create geojson datasets from django context to pass to recentReports.js more easily
    var data = {
      "collisions": {{ collisions|geojsonfeature:"i_type,incident_with,date,time,details,pk"|safe }},
      "nearmisses": {{ nearmisses|geojsonfeature:"i_type,incident_with,date,time,details,pk"|safe }},
      "hazards": {{ hazards|geojsonfeature:"i_type,date,time,details,pk"|safe }},
      "thefts": {{ thefts|geojsonfeature:"i_type,date,time,details,pk"|safe }},
      "rois": {{ geofences|geojsonfeature|safe}}
    }
  </script>
  <script src="{% static 'mapApp/js/recentReports.js' %}" charset="utf-8"></script>


{% endblock %}
