{% extends "mapApp/base.html" %}
{% load staticfiles %}
{% load geojson_tags %}

{% block title %}
  BikeMaps Recent Reports
{% endblock %}

{% block headerCSS %}
  <link rel="stylesheet" href="{% static 'leaflet/plugins/awesome-markers/dist/leaflet.awesome-markers.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <link rel="stylesheet" href="{% static 'mapApp/css/recentReports.css' %}"/>

  <!-- Open Graph data -->
  <meta property="og:title" content="BikeMaps" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://bikemaps.org/" />
  <meta property="og:image:secure_url" content="https://bikemaps.org:8080/static/mapApp/images/BikeMapsSocialMediaLogo.jpg" />
  <meta property="og:description" content="Map your cycling incidents, hazard, and theft locations so they can be analyzed to identify hot spots of cycling safety, risk, and crime." />
  <meta property="og:site_name" content="BikeMaps" />
  <meta property="fb:admins" content="569635572" />

{% endblock %}

{% block body %}


  <div class="container-fluid" style="height: 100%;">
    <div class="row" id="height-control">
      <div class="col-xs-12 col-sm-8 map-col">
        <div id="map"></div>
      </div>
      <div class="col-xs-12 col-sm-4" style="height: 100%; overflow: scroll;">
        <div id="data"></div>
      </div>
    </div>
  </div>


{% endblock %}

{% block footerJS %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script src="{% static 'moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'leaflet/plugins/awesome-markers/dist/leaflet.awesome-markers.min.js' %}" charset="UTF-8"></script>
  <script src="{% static 'mapApp/js/icons.js' %}" charset="utf-8"></script>
  <script>
    // Create geojson datasets from django context to pass to recentReports.js more easily
    var data = {
      "collisions": {{ collisions|geojsonfeature:"i_type,incident_with,date,time,details,pk"|safe }},
      "nearmisses": {{ nearmisses|geojsonfeature:"i_type,incident_with,date,time,details,pk"|safe }},
      "hazards": {{ hazards|geojsonfeature:"i_type,date,time,details,pk"|safe }},
      "thefts": {{ thefts|geojsonfeature:"i_type,date,time,details,pk"|safe }},
      "rois": {{ geofences|geojsonfeature|safe}}
    }
  </script>
  <script>
    $(function(){
      onResize();
      $(window).resize(onResize);

      function onResize(){ //screen is xs
        if ($(window).width() < 768)
          $('#height-control').height("50%")
        else //screen is at least sm
          $('#height-control').height("100%")
      }

    })
  </script>
  <script src="{% static 'mapApp/js/recentReports.js' %}" charset="utf-8"></script>


{% endblock %}
