{% extends "mapApp/base.html" %}
{% load staticfiles %}
{% load geojson_tags %}


{% block title %}
	Monthly statistics
{% endblock %}


{% block headerCSS %}
	<!-- Load leaflet -->
	<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>

	<!-- Barchart style -->
	<link rel="stylesheet" href="{% static 'mapApp/css/barchart.css' %}"/>
{% endblock %}


{% block headerJS %}
    <!-- d3 v3.4.8 -->
    <script src="{% static 'd3/d3.min.js' %}" charset="utf-8"></script>
    
    <!-- Load leaflet -->
    <script src="{% static 'leaflet/leaflet.js' %}"></script>

    <!-- Load marker clustering -->
    <script src="{% static 'leaflet/plugins/leaflet.markercluster/leaflet.markercluster-src.js' %}"></script>

    <!-- Load Maki Markers Icons -->
    <script src="{% static 'leaflet/plugins/maki-markers/Leaflet.MakiMarkers.js' %}"></script>

    <!-- Load heatmap -->
    <script src="{% static 'leaflet/plugins/leaflet-heat/leaflet-heat.js' %}"></script>

    <!-- map generating code -->
    <script src="{% static 'mapApp/js/map.js' %}" charset="utf-8"></script>

    <!-- d3 barchart -->
    <script src="{% static 'mapApp/js/stats.js' %}" charset="utf-8"></script>
{% endblock %}


{% block body %}

	<style type="text/css">
		#map { 
			height: 100%;
			margin-top: 0px;
		}
	</style>
	

	<div class="container-fluid" style="height: 100%">
		<div class="row"style="height: 100%">
			<div class="col-xs-6" style="height: 100%;">
				<!-- Map of one month of reports -->
				<div id="map"></div>
			</div>
		<!-- Bar graph of Alert area points by type -->
		<!-- See http://bost.ocks.org/mike/bar/ for bar chart tutorials -->
			<div class="col-xs-6" style="padding: 5px">
				<div class="panel panel-primary">
				  <div class="panel-heading">Reports this month ({{date_lastmonth|date:"M d" }} - {{date_today|date:"M d"}})</div>
				  <div class="panel-body">
					<svg id="barchart" width='100%' height='100%'></svg>
				  </div>
				</div>
			</div>
			<div class="col-xs-6" style="padding: 5px">
				<div class="panel panel-primary">
				  <div class="panel-heading">Trend graph</div>
				  <div class="panel-body">
				  	Line chart here
				  </div>
				</div>
			</div>
		</div>

	</div>

	<script>
		// Create the map (call to map.js)
        initialize({% if request.mobile %} mobile=true {% endif %});

        // Load user alert areas from the database
        var areasLatLngList = [];
        {% for polygon in geofences %}
            areasLatLngList.push({{ polygon.latlngList }});
            getPolygon( {{ polygon.latlngList }}, {{ polygon.pk }} ); 
        {% endfor %}

   		// Fit map extent to alert areas boundary
        map.fitBounds(L.latLngBounds(areasLatLngList));

        // Load all point data
    	var otherCollisions = geojsonCircleMarker({{ otherCollisions|geojsonfeature|safe }}, "collision").addTo(map);
    	var otherNearmisses = geojsonCircleMarker({{ otherNearmisses|geojsonfeature|safe }}, "nearmiss").addTo(map);
	    var otherHazards = geojsonCircleMarker({{ otherHazards|geojsonfeature|safe }}, "hazard").addTo(map);
	    var otherThefts = geojsonCircleMarker({{ otherThefts|geojsonfeature|safe }}, "theft").addTo(map);

    	var recentCollisions = geojsonCircleMarker({{ recentCollisions|geojsonfeature|safe }}, "collision").addTo(map);
    	var recentNearmisses = geojsonCircleMarker({{ recentNearmisses|geojsonfeature|safe }}, "nearmiss").addTo(map);
	    var recentHazards = geojsonCircleMarker({{ recentHazards|geojsonfeature|safe }}, "hazard").addTo(map);
	    var recentThefts = geojsonCircleMarker({{ recentThefts|geojsonfeature|safe }}, "theft").addTo(map);

		// Create dataset out of django context
		// Note, data and counts are for last month of points in user alert areas only, not total points
		var data = [ 
			{ type: "collision", 	value: {{ recentCollisions.count }}, 	color: getColor("collision") }, 
			{ type: "nearmiss", 	value: {{ recentNearmisses.count }}, 	color: getColor("nearmiss") }, 
			{ type: "hazard", 		value: {{ recentHazards.count }}, 		color: getColor("hazard") }, 
			{ type: "theft", 		value: {{ recentThefts.count }}, 		color: getColor("theft") }
		];
		initializeBarChart(data);
	</script>


	<!-- Longterm: fancier graphs that monitor change -->

{% endblock %}