{% extends "mapApp/base.html" %}
{% load staticfiles %}
{% load geojson_tags %}


{% block title %}
	Monthly statistics
{% endblock %}


{% block headerCSS %}
	<!-- Load leaflet -->
	<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>

	<!-- Barchart style -->
	<link rel="stylesheet" href="{% static 'mapApp/css/barchart.css' %}"/>
{% endblock %}


{% block headerJS %}
    <!-- d3 v3.4.8 -->
    <script src="{% static 'd3/d3.min.js' %}" charset="utf-8"></script>

    <!-- moment.js date library -->
    <script src="{% static 'moment/moment.min.js' %}"></script>

    <!-- Load leaflet -->
    <script src="{% static 'leaflet/leaflet.js' %}"></script>

    <!-- Load marker clustering -->
    <script src="{% static 'leaflet/plugins/leaflet.markercluster/leaflet.markercluster-src.js' %}"></script>

    <!-- Load Maki Markers Icons -->
    <script src="{% static 'leaflet/plugins/maki-markers/Leaflet.MakiMarkers.js' %}"></script>

    <!-- Load heatmap -->
    <script src="{% static 'leaflet/plugins/leaflet-heat/leaflet-heat.js' %}"></script>

    <!-- map generating code -->
    <script src="{% static 'mapApp/js/map.js' %}" charset="utf-8"></script>

    <!-- d3 barchart -->
    <script src="{% static 'mapApp/js/stats.js' %}" charset="utf-8"></script>
{% endblock %}


{% block body %}

	<style type="text/css">
		#map {
			height: 100%;
			margin-top: 0px;
		}
	</style>


	<div class="container-fluid" style="height: 100%">
		<div class="row"style="height: 100%">
			<div class="col-xs-12 col-md-6" style="height: 100%;">
				<!-- Map of one month of reports -->
				<div id="map"></div>
			</div>
		<!-- Bar graph of Alert area points by type -->
		<!-- See http://bost.ocks.org/mike/bar/ for bar chart tutorials -->
			<div class="col-xs-12 col-md-6" style="height: 100%;">
				<div class="col-xs-12" style="padding: 5px">
					<div class="panel panel-primary">
					  <div class="panel-heading">Reports this month ( - )</div>
					  <div class="panel-body">
						<svg id="barchart" width='100%' height='100%'></svg>
					  </div>
					</div>
				</div>
				<!--
				<div class="col-xs-12" style="padding: 5px">
					<div class="panel panel-primary">
					  <div class="panel-heading">Trend graph</div>
					  <div class="panel-body">
						<svg id="linechart" width='100%' height='100%'></svg>
					  	Line chart here
					  </div>
					</div>
				</div>
				-->
				<div class="col-xs-12" style="padding: 5px">
					<div class="panel panel-primary">
					  <div class="panel-heading">Messages</div>
					  <div class="panel-body">
					  	Rotating display of messages
					  </div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script>
		// Create the map (call to map.js)
    initialize(scrollZoom=false {% if request.mobile %}, mobile=true {% endif %});

   	// Fit map extent to alert areas boundary
    var areasLatLngList = [];
    {% for polygon in geofences %}
    	areasLatLngList.push({{ polygon.latlngList }});
      // Add polygon to map
        getPolygon( {{ polygon.latlngList }}, {{ polygon.pk }} );
    {% endfor %}
    map.fitBounds(L.latLngBounds(areasLatLngList));

    var data = {
			// Points in a user polygon
			collisionsROI: {{ collisionsInPoly|geojsonfeature:"date"|safe }},
			nearmissesROI: {{ nearmissesInPoly|geojsonfeature:"date"|safe }},
			hazardsROI: 	{{ hazardsInPoly|geojsonfeature:"date"|safe }},
			theftsROI: 	{{ theftsInPoly|geojsonfeature:"date"|safe }},

			// All points
			collisions: {{ collisions|geojsonfeature:"date"|safe }},
			nearmisses: {{ nearmisses|geojsonfeature:"date"|safe }},
			hazards: 	{{ hazards|geojsonfeature:"date"|safe }},
			thefts: 	{{ thefts|geojsonfeature:"date"|safe }},

			// Make dates to use for filtering
			now: moment(),
			oneMonthAgo: moment().subtract(1, 'month'),
			twoMonthsAgo: moment().subtract(2, 'months'),
			threeMonthsAgo: moment().subtract(3, 'months')
		};


		// Filter by date to get different datasets
		// TODO do this in stats.js
		var collisionsThisMonth = filterGeoJSONByDate(data.collisionsROI, data.oneMonthAgo, data.now),
			nearmissesThisMonth = filterGeoJSONByDate(data.nearmissesROI, data.oneMonthAgo, data.now),
			hazardsThisMonth = filterGeoJSONByDate(data.hazardsROI, data.oneMonthAgo, data.now),
			theftsThisMonth = filterGeoJSONByDate(data.theftsROI, data.oneMonthAgo, data.now);

    // Add points to map, create layers used by stats.js to highlight points on map
		// All points in the polygon that occured in the previous month
		var recentCollisionsLayer = geojsonCircleMarker(collisionsThisMonth, "collision").addTo(map),
			recentNearmissesLayer = geojsonCircleMarker(nearmissesThisMonth, "nearmiss").addTo(map),
			recentHazardsLayer = geojsonCircleMarker(hazardsThisMonth, "hazard").addTo(map),
			recentTheftsLayer = geojsonCircleMarker(theftsThisMonth, "theft").addTo(map),

			allCollisionsLayer = geojsonCircleMarker(data.collisions, "collision").addTo(map),
			allNearmissesLayer = geojsonCircleMarker(data.nearmisses, "nearmiss").addTo(map),
			allHazardsLayer = geojsonCircleMarker(data.hazards, "hazard").addTo(map),
			allTheftsLayer = geojsonCircleMarker(data.thefts, "theft").addTo(map);

		// Create dataset out of django context
		// Note, data and counts are for last month of points in user alert areas only, not total points
		initializeBarChart([
			{ type: "collision", 	value: collisionsThisMonth.features.length, 	color: getColor("collision") },
			{ type: "nearmiss", 	value: nearmissesThisMonth.features.length, 	color: getColor("nearmiss") },
			{ type: "hazard", 		value: hazardsThisMonth.features.length, 		color: getColor("hazard") },
			{ type: "theft", 		value: theftsThisMonth.features.length, 		color: getColor("theft") }
		]);

		// TODO document, clean up this code
		// initializeLineChart([
		// 	{ type: "collision",	value: [ collisionsThisMonth.features.length, .features.length, .features.length ],	color: getColor("collision") },
		// 	{ type: "nearmiss", 	value: [ nearmissesThisMonth.features.length, .features.length, .features.length ],	color: getColor("nearmiss") },
		// 	{ type: "hazard", 		value: [ hazardsThisMonth.features.length, .features.length, .features.length ],	color: getColor("hazard") },
		// 	{ type: "theft", 		value: [ theftsThisMonth.features.length, .features.length, .features.length ],		color: getColor("theft") }
		// ]);



		// Filter a GeoJSON object with date property by a range starting with startDate, ending with endDate
		// 	startDate is exclusive, endDate is inclusive.
		// 	if startDate null, all dates prior or equal to endDate inclusive
		function filterGeoJSONByDate(geojson, startDate, endDate){
			var result = geojson;
			result.features = $.grep(geojson.features, function(n,i){ return (moment(n.properties.date) <= endDate); });

			if(startDate)
				result.features = $.grep(geojson.features, function(n,i){ return (moment(n.properties.date) > startDate); });

			return result;
		};

	</script>

{% endblock %}
