{% extends "mapApp/base.html" %}
{% load static geojson_tags cache i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% cache 3600 vis_template LANGUAGE_CODE %}

{% block title %}
{% trans "Bikemaps Data Visualization" %}
{% endblock %}

{% block headerCSS %}
  <link rel="stylesheet" href="https://unpkg.com/dc@4/dist/style/dc.css">
  <link rel="stylesheet" href="{% static 'mapApp/css/vis.css' %}">
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 15px;">

  <!--First Row: Title -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h3 class="vis-title">{% trans "Explore Incident Report Data" %}</h4>
    </div>
  </div>

  <!--Second Row: Map & info box -->
  <div class="row">
    <!-- Map -->
    <div class="col-xs-12 col-sm-12 col-md-7 panel panel-default" style="min-height: 464px;" id="map">
    </div>
    <!-- Info box -->
    <div class="col-xs-12 col-sm-12 col-md-5" id="vis-info" style="min-height: 450px;">
      <div class="panel panel-default">
      <div class = "panel-body">
        <h4>
          {% trans "Use this dashboard to explore the report data!" %}
        </h4>
        <p>
          {% trans "Any filters you apply to the charts or the map will affect the output of all the visualizations." %}
        </p>
        <p>
          {% trans "To get started, try this example query:" %}
          <ol>
            <li>{% trans "Zoom in to your city on the map" %}</li>
            <li>{% trans "Click on the bars labelled 'Collisions' and 'Nearmisses' on the 'Total reports by type' chart" %}</li>
            <li>{% trans "Click and drag over 'Mon-Fri' on the 'Reports summary by weekday' to select the workweek" %}</li>
            <li>{% trans "Highlight the last few years on the Incidents per Month chart to get the most recent results" %}</li>
          </ol>
          {% trans "Then review the combined results of your selection!" %}
        </p>
        <p>
          {% trans "Use the 'reset' buttons on each chart to remove individual filters, or 'reset all' to undo all your filtering. Happy exploring!" %}
        </p>
        <br>
        <span>
          <span class="dc-data-count pull-left text-info">
            {% blocktrans with '<span class="filter-count"></span>' as some and '<span class="total-count"></span>' as total %}{{some}} of {{total}} total reports shown{% endblocktrans %}
          </span>
          <a class='reset btn btn-danger btn-sm pull-right' href='javascript:dc.filterAll();dc.renderAll();'>{% trans "reset all" %}</a>
        </span>
      </div>
    </div>
  </div>
  </div>

  <!--Third Row: charts-->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
        <div class="text-center panel panel-default">
          <div class="panel-body" id="barTypes">
            <div class="chart-title">
              <strong>{% trans "Total reports by type" %}</strong>
              <a class='reset btn btn-danger btn-xs pull-right' href='javascript:barTypes.filterAll();dc.redrawAll();' style='display: none;'>{% trans "reset" %}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
        <div class="text-center panel panel-default">
          <div class="panel-body" id="barWeek">
            <div class="chart-title">
              <strong>{% trans "Reports summary by weekday" %}</strong>
              <a class='reset btn btn-danger btn-xs pull-right' href='javascript:barWeek.filterAll();dc.redrawAll();' style='display: none;'>{% trans "reset" %}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
        <div class="text-center panel panel-default">
          <div class="panel-body" id="barHour">
            <div class="chart-title">
              <strong>{% trans "Number of incident by hour of day" %}</strong>
              <a class='reset btn btn-danger btn-xs pull-right' href='javascript:barHour.filterAll();dc.redrawAll();' style='display: none;'>{% trans "reset" %}</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!--Fourth Row: date charts -->
  <div class="row">
    <div class="hidden-xs col-sm-12 col-md-12">
      <div class="text-center panel panel-default">
        <div class="panel-body" id="lineDate">
          <div class="chart-title" style="text-align: center">
            <strong>Incidents per month</strong>
            <a class='reset btn btn-danger btn-xs pull-right' href='javascript:lineDate.filterAll();lineDateOverviewChart.filterAll();dc.redrawAll();' style='display: none;'>{% trans "reset" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="hidden-xs col-sm-12 col-md-12">
      <div class="text-center panel panel-default">
        <div class="panel-body">
        <div id="lineDateOverview">
        </div>
        <p class="muted pull-right" style="margin-right: 15px;margin-top: -15px;margin-bottom:-25px">select a time range to zoom in</p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}

  {% block footerJS %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.js"></script>
  <script src="https://unpkg.com/dc@4/dist/dc.js"></script>
  <script src="{% static 'leaflet/plugins/leaflet-heatmap/heatmap.min.js' %}"></script>
  <script src="{% static 'leaflet/plugins/leaflet-heatmap/leaflet-heatmap.js' %}"></script>
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  <script type="text/javascript">
    {% get_current_language as LANGUAGE_CODE %}
      var LANGUAGE_CODE = "{{LANGUAGE_CODE}}";
  </script>
  <script src="{% static 'mapApp/js/icons.js' %}"></script>
  <script src="{% static 'mapApp/js/map.js' %}"></script>
  <script>
    var alertAreas = L.geoJson({{ alertAreas|geojsonfeature|safe }});

    {% cache 500 data %}
      var data = {{ points|geojsonfeature:"report_date,date,p_type"|safe}}['features'];
    {% endcache %}

    {% if zoom %}
      var zoom = {{ zoom|safe }},
          lat = {{ lat|safe }},
          lng = {{ lng|safe }};
    {% endif %}
  </script>
  <script src="{% static 'mapApp/js/vis/visHelpers.js' %}"></script>
  <script src="{% static 'mapApp/js/vis/map.js' %}"></script>
  <script src="{% static 'mapApp/js/vis/vis.js' %}"></script>

  {% endblock %}
  {% endcache %}
