{% extends "mapApp/base.html" %}
{% load staticfiles crispy_forms_tags markdown_deux_tags i18n %}

{% block title %}{% trans "Create a new post" %}{% endblock %}

{% block headerCSS %}
  <link href="{% static 'blogApp/css/create.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2>{% trans "Create a new blog post" %}</h2>
        {% crispy blog_post_form %}
      </div>
    </div>

    <div class="row" id="md-cheatsheet">
      <div class="col-xs-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="markdownCheatsheet">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  {% trans "Markdown Cheatsheet" %} <span class="caret"></span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="markdownCheatsheet">
              <div class="panel-body">
                {% markdown_cheatsheet %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Upload Img Modal -->
  <div class="modal fade" id="upload-img-modal" tabindex="-1" role="dialog" aria-labelledby="ImageUploadModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{% trans "Upload an image to the server" %}</h4>
        </div>
        <form id="upload-image-form" action="{% url 'blogApp:upload_image' %}" method="POST" role="form" enctype="multipart/form-data">
          <div class="modal-body">
              {% csrf_token %}
              <span id="img-form-crispy">{% crispy image_form %}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block footerJS %}
  <script src="{% static 'blogApp/js/create.js' %}"></script>
{% endblock %}
