{% extends "mapApp/base.html" %}
{% block title %}BikeMaps Blog{% endblock %}

{% load staticfiles markdown_deux_tags %}


{% block headerCSS %}
  <link href="{% static 'blogApp/css/post.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
  <div class="container">
    <div class="row">
      <div class="page-header col-xs-12 col-sm-10 col-sm-offset-2">
        <h1><a href="{% url 'blogApp:index' %}">BikeMaps Blog</a>
          {% if request.user.is_superuser %}
            <a href="{% url 'blogApp:create_post' %}">
              <small title="Add new post">+ new post +</small>
            </a>
          {% endif %}
        </h1>
      </div>
    </div>


    <!-- Render posts -->
    {% if post.published or request.user.is_superuser %}
      <div class="hidden-xs col-sm-2">
        <h3><span class="label label-default">{{ post.date|date:"M j" }}</span></h3>

        {% if request.user.is_superuser %}
          {% if post.published %}
            <span class="label label-success">Published</span>
          {% else %}
            <span class="label label-danger">Not Published</span>
          {% endif %}

          <a href="{% url 'blogApp:edit_post' slug=post.slug %}"><span class="text-warning">edit</span></a>
        {% endif %}
      </div>

      <div class="col-sm-10 col-xs-12" id="post-title">
        <h2>{{ post.title }}
          <small class="visible-xs">{{ post.date|date:"M j" }}</small>
        </h2>

        {% if request.user.is_superuser %}
          <div class="visible-xs">
            {% if post.published %}
              <span class="label label-success">Published</span>
            {% elif not post.published%}
              <span class="label label-danger">Not Published</span>
            {% endif %}
            <a href="{% url 'blogApp:edit_post' slug=post.slug %}"><span class="text-warning">edit</span></a>
          </div>

        {% endif %}
      </div>

      <div class="col-xs-12 col-sm-12 col-sm-offset-2">
        <div class="post-content">
          {{ post.content|markdown:"trusted" }}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}


{% block footerJS %}
  <script src="{% static 'blogApp/js/post.js' %}"></script>
  
{% endblock %}
