{% extends "blogApp/base_blog.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% load staticfiles %}

{% block headerCSS %}
  <link href="{% static 'blogApp/css/post.css' %}" rel="stylesheet">

  <!-- Allows proper rendering of facebook content -->
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:url" content="https://bikemaps.org{{ post.get_absolute_url }}" />
  <meta property="og:image" content="https://bikemaps.org:8080/static/mapApp/images/BikeMapsSocialMediaLogo.jpg" />
  <meta property="og:image:secure_url" content="https://bikemaps.org:8080/static/mapApp/images/BikeMapsSocialMediaLogo.jpg" />
  <meta property="og:description" content="{{ post.description }}" />
  <meta property="og:site_name" content="BikeMaps" />
  <meta property="og:type" content="article" />
  <meta property="fb:app_id" content="843464829081740" />
{% endblock %}

{% block base_post_body %}
    <ul class="list-group">

        <!-- Post -->
        {% if post.published or request.user.is_superuser %}
          <li class="list-group-item row">
            {% include "blogApp/base_post.html" %}
          </li>
        {% endif %}

    </ul>
{% endblock %}
