{% extends "blogApp/base_blog.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block headerCSS %}
  <link href="{% static 'blogApp/css/post.css' %}" rel="stylesheet">

  <!-- Allows proper rendering of facebook content -->
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:url" content="https://bikemaps.org{{ post.get_absolute_url }}" />
  <meta property="og:image" content="https://bikemaps.org/static/mapApp/images/BikeMapsSocialMediaLogo.jpg" />
  <meta property="og:image:secure_url" content="https://bikemaps.org/static/mapApp/images/BikeMapsSocialMediaLogo.jpg" />
  <meta property="og:description" content="{{ post.description }}" />
  <meta property="og:site_name" content="BikeMaps" />
  <meta property="og:type" content="article" />
  <meta property="fb:app_id" content="843464829081740" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@BikeMapsTeam">
  <meta name="twitter:title" content="{{ post.title }}">
  <meta name="twitter:description" content="{{ post.description }}">
  <meta name="twitter:creator" content="@BikeMapsTeam">
  <meta name="twitter:image" content="{% static 'mapApp/images/BikeMapsTwitterLogo.jpg' %}">
{% endblock %}

{% block base_post_body %}
    <ul class="list-group">

        <!-- Post -->
        {% if post.published or request.user.is_superuser %}
          <li class="list-group-item row">
            {% include "blogApp/post_template.html" %}

            <!-- Facebook comments -->
            <div class="col-xs-12 col-sm-10 col-sm-offset-2">
              <div class="fb-comments" data-href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ post.get_absolute_url }}" data-numposts="5"></div>
            </div>
          </li>
        {% endif %}

    </ul>
{% endblock %}
